<section class="inquiry-list homework-list">
  <div class="page_inner">
    <div class="m-container">
      <div class="d-flex justify-content-between align-items-center my-3">
        <h3 class="sub_title mb-0">Concern List</h3>
        <div class="d-flex">
          <!-- <a class="add-btn btn me-2" href="#" [routerLink]="CommonService.setUrl(URLConstants.COMPLAIN_ADD)"> Add Complain </a> -->
        </div>
      </div>

      <div class="card filter-card p-0">

        <!-- ACCORDION IS HERE -->
        <div class="card-header border-bottom justify-content-between d-flex">
          <div class="card-student-heading d-flex align-items-center">
            <h5 class="mb-0">Filters</h5>
            <button class="btn btn-primary border-circle ms-2">{{filterCount}}</button>
          </div>
          <div class="d-flex student-accordion-btn">
            <button class="btn btn-primary me-2" (click)="handleClear()" [disabled]="is_resetLoading">Reset
              <div class="spinner-border spinner-border-sm" role="status" *ngIf="is_resetLoading">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
            <button class="btn btn-primary drop-btn border-circle" (click)="filter = !filter">
              <i class="fa fa-angle-down" *ngIf="!filter"></i>
              <i class="fa fa-angle-up" *ngIf="filter"></i>
            </button>
          </div>
        </div>

        <!-- FILTER SECTION IS HERE -->
        <div class="card-body" *ngIf="filter">
          <div [formGroup]="complainForm" class="content_scroll">
            <div class="row">
              <!-- <div class="col-md-12 form_group">
                  <label class="form_label mb-0">Complain to</label>
                  <div class="radio-section">
                    <div class="radio">
                      <label class="required">
                        <input type="radio" formControlName="complainTo" name="complainTo" id="std" [value]="1" class="mr-1">
                        Student<span></span>
                      </label>
                    </div>
                    <div class="radio">
                      <label class="required" aria-required="true">
                        <input type="radio" formControlName="complainTo" name="complainTo" id="emp" [value]="2" class="mr-1">
                        Employee<span></span>
                      </label>
                    </div>
                  </div>
                </div> -->

              <!-- Section -->
              <div class="col-md-3 form_group">
                <label for="" class="form_label">Select Section</label>
                <app-single-select controlName="sectionF" (change)="classChange()" [dropDownArray]="sectionList"
                  placeholder="Select Section"></app-single-select>
              </div>

              <!-- Classes -->
              <div class="col-md-3 form_group">
                <label for="" class="form_label">Select Class</label>
                <app-multi-select controlName="classF" (change)="batchChange()" [dropDownArray]="classList"
                  placeholder="Select Class"></app-multi-select>
              </div>

              <!-- Batch -->
              <div class="col-md-3 form_group">
                <label for="" class="form_label">Select Batch</label>
                <app-multi-select controlName="batchF" [dropDownArray]="batchList" placeholder="Select Batch"
                  (change)="studentChange()"></app-multi-select>
              </div>

              <!-- STUDENT -->
              <!-- <div class="col-md-3  form_group">
                <label class="form_label">Select Student</label>
                <div>
                  <app-multi-select controlName="studentF" [dropDownArray]="studentList"
                    placeholder="Select Student"></app-multi-select>
                </div>
              </div> -->

              <!-- PRIORITY  -->
              <div class="col-md-3  form_group">
                <label class="form_label">Priority Level</label>
                <div>
                  <app-multi-select controlName="priorityF" [dropDownArray]="priorityList"
                    placeholder="Select Priority Level"></app-multi-select>
                </div>
              </div>

              <!-- STATUS LEVEL -->
              <div class="col-md-3  form_group">
                <label class="form_label">Status Level</label>
                <div>
                  <app-multi-select controlName="statusF" [dropDownArray]="statusList"
                    placeholder="Select Status Level"></app-multi-select>
                </div>
              </div>

              <!-- Complain for Employee -->
              <div class="col-md-3  form_group" *ngIf="!userID">
                <label class="form_label">Complain for Employee</label>
                <div>
                  <app-multi-select controlName="complainForEmpF" [dropDownArray]="employeeList"
                    placeholder="Select Employee"></app-multi-select>
                </div>
              </div>

              <!-- DATE RANGE -->
              <div class="col-md-3  form_group">
                <label class="form_label">Date</label>
                <div>
                  <app-date-range-picker type="date" controlName="dateF"
                    placeholder="Select Date"></app-date-range-picker>
                </div>
              </div>

            </div>

            <div class="col-auto p-0">
              <button class="btn show-btn" (click)="handleShow()" [disabled]="is_showLoading">Show
                <div class="spinner-border spinner-border-sm" role="status" *ngIf="is_showLoading">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </div>
        </div>

      </div>

      <!-- -------- -->

      <div>

        <div class="d-flex justify-content-between mb-3 mt-3">
          <div style="font-weight: 600; display: flex; align-items: center;"> Total Concerns : {{ totalRecords }} </div>
          <div class="d-flex">
            <div style="display: flex; align-items: center; margin-right: 6px; white-space: nowrap; font-weight: 600;">Search : </div>
            <input type="string" class="form-control" style="height: 34px;" [(ngModel)]="searchComplain" (ngModelChange)="onSearchChange()"
              placeholder="Search here..." />
          </div>
        </div>

        <ng-container *ngIf="tbody?.length > 0 else noDataFound">

          <div infiniteScroll (scrolled)="onScrollChange()">
            <div class="row">
              <ng-container *ngFor="let card of tbody"> <!-- | paginate: paginationConfig -->

                <!-- EACH CARD -->
                <div class="col-md-4 form_group main-card mb-0 position-relative mb-4">
                  <div class="card p-0">
                    <div class="card-head d-flex justify-content-between align-items-start px-3 pt-2 mb-2">
                      <div class="">
                        <a href="#" class="heading-full-name" [routerLink]="[CommonService.setUrl(URLConstants.STUDENT_PROFILE),card?.created_by_student?.unique_id]">
                          {{ card?.created_by_student?.full_name || '-' }}
                          <p>(Concern By)</p>
                        </a>
                        <p class="mb-0">
                          <i class="fa fa-calendar pe-1"></i>
                          <span> {{ card?.created_at | date : dateFormateService.getDateTimeFormat() }} </span>
                        </p>
                      </div>
                      <p class="d-flex mb-2">

                        <a [routerLink]="[CommonService.setUrl(URLConstants.COMPLAIN_VIEW),card?.id]" href='#'
                          class="btn action-view" ngbTooltip="View">
                          <i class="fa fa-eye"></i>
                        </a>

                        <button (click)="attachment(myModel, card?.id , card?.attachments )"
                          class="px-2 btn ms-2 action-edit" ngbTooltip="Attachment">
                          <i class="fa fa-paperclip"></i>
                        </button>

                      </p>
                    </div>
                    <div class="px-3 middle-body">
                      <div class="d-flex justify-content-left mb-2">
                        <label class="w-auto mb-0 me-2"><b>Title : </b></label>
                        <p class="ps-2 mb-0">{{ card?.title || '-' }}</p>
                      </div>
                      <div>
                        <label class="form_label w-auto mb-1"><b>Description:</b></label>
                        <p class="mb-0 description">{{ card?.description || '-' }}</p>
                      </div>
                    </div>
                    <!-- <ng-container *ngIf="card?.notes_attachments?.length > 0 || card?.link else defaultContent">
                      <div class="px-3 py-2 pb-3 attach_file d-flex">
                        <ng-container *ngIf="card?.notes_attachments?.length > 0">
                          <ng-container *ngFor="let att of card?.notes_attachments let i = index">
                            <div class="position-relative" style="cursor: pointer;" *ngIf="i <= 2"
                              (click)="openLinkInNewTab(att?.attachment_url)">
                              <i class="fa fa-file-pdf" *ngIf="att?.filename.includes('.pdf')"></i>
                              <i class="fa fa-file-image" *ngIf="!att?.filename.includes('.pdf')"></i>
                              <input type="text" class="form-control" [value]="att?.filename" readonly>
                            </div>
                          </ng-container>
                        </ng-container>
                        <span class="count_attach"
                          *ngIf="card?.notes_attachments.length > 3">+{{card?.notes_attachments.length
                          -
                          3}}</span>
                        <span class="copy_link" *ngIf="card.link"><i class="fa fa-link" style="cursor: pointer;"
                            [matTooltip]="card?.link" (click)="openLinkInNewTab(card.link)"></i></span>
                      </div>
                    </ng-container> -->
                    <ng-template #defaultContent>
                      <div class="px-3 py-2 pb-3 attach_file position-relative opacity-0 defaultContent">
                        <input type="text" class="form-control" readonly><i
                          class="fa fa-download position-absolute"></i>
                      </div>
                    </ng-template>
                    <div class="px-3 my-3 ">
                      <div class="d-flex justify-content-between align-items-center priority-type">
                        <div class="d-flex">
                          <label class="w-auto mb-0 me-2"><b> Priority : </b></label>
                          <div [ngClass]="{
                              'low-priority': card.priority == 1,
                              'normal-priority': card.priority == 2,
                              'high-priority': card.priority == 3
                            }">
                            {{ card.priority == 1 ? 'Low' : card.priority == 2 ? 'Normal' : 'High' }}
                          </div>
                        </div>
                        <div class="d-flex">
                          <label class="w-auto mb-0 d-flex align-items-center me-2" style="white-space: nowrap;"><b>Status :</b></label>
                          <select class="form-control" [(ngModel)]="card.status"
                            (change)="onStatusChange(card.id, $event)"
                            [disabled]="!CommonService.hasPermission('concern_concern_status', 'has_access')">
                            <option *ngFor="let status of statuses" [value]="status.id">
                              {{ status?.name || '-' }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="card-foot px-3 py-2" 
                      [ngClass]="{
                        'grey-foot' : card.priority == 1 ,
                        'blue-foot':  card.priority == 2 ,
                        'red-foot' :  card.priority == 3 
                      }"
                    >
                      <div>
                        <p class="assigned_by mb-1">
                          <b>Concern for : </b>
                          <a
                            [routerLink]="[CommonService.setUrl(URLConstants.USER_PROFILE),card?.complain_for_user?.id]">
                            {{ card?.complain_for_user?.full_name || '-' }}
                          </a>
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

        <ng-template #noDataFound>
          <span *ngIf="!isComplain" class="text-center no_data_found">No Data Found</span>
        </ng-template>

        <ng-container *ngIf="isComplain">
          <div class="d-flex justify-content-center">
            <div class="spinner-border spinner-border-sm ms-2" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
  </div>

  <!-- Attachment Modal -->
  <ng-template #myModel let-modal>
    <div class="modal-header">
      <div class="modal-title">Attachments</div>
      <div class="modal-close" (click)="modal.dismiss('Cross click')"><i class="zmdi zmdi-close"></i></div>
    </div>
    <div class="modal-body">
      <div class="row" *ngIf="!attachment_loading">
        <div class="col-xl-3 col-md-3 col-sm-4 col-6 d-flex" *ngFor="let file of attachments">
          <div class="card p-0 w-100 ">
            <a class="mb-1" href="{{file.attachment_url}}" target="_blank">
              <div class="card-body px-2  text-center">
                <div *ngIf="file.file_type == 'jpg' " class="file-manger-icon">
                  <img [src]="file.attachment_url" alt="img" class="rounded-7">
                </div>
                <div *ngIf="file.file_type != 'jpg' " class="file-manger-icon">
                  <img [src]="fileIcons[file.file_type]" alt="img" class="rounded-7">
                </div>
                <h6 class="mb-1 font-weight-semibold text-capitalize">{{file.file_name}}</h6>
              </div>
            </a>
          </div>
        </div>
        <div class="text-center text-muted" *ngIf="attachments?.length == 0">
          No Attachments Available
        </div>
      </div>
      <div class="row" *ngIf="attachment_loading">
        <div class="text-center text-muted">
          Loading....
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end modal-footer">
      <button type="button" class="btn btn-secondary mt-3 mb-0" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </ng-template>
</section>