<section class="leave_form">
    <div class="page_inner">
        <div class="m-container">
            <h2 class="page_title">Role Management</h2>
            <div class="card">
                <div class="card_title">
                    <h3 class="sub_title text-center text-sm-left">Payroll Group Details</h3>
                    <div class="btn_right text-center text-sm-right mt-2 mt-sm-0">
                        <a class="active btn btn-focus m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" href="#." [routerLink]="setUrl(URLConstants.PAYROLL)">Back to Payroll Home</a>
                    </div>
                </div> 
                <div class="card_body">
                    <div class="row">
                        <div class="col-lg-8">
                            <form class="form_section">

                                 
  
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form_group">
                                                <label class="col-md-12 form_label"><b>Payroll group name </b> : Monthly Payroll</label>                                                        
                                                <hr>                                            
                                                <h6>Salary Preferences</h6>  
                                                <label class="col-md-12 form_label"><b>Employee salary type </b> : Salaried</label>                                                        
                                                <label class="col-md-12 form_label"><b>Payment frequency : </b> : Monthly</label>                                                        
                                                <label class="col-md-12 form_label"><b>Payslip generation date </b> : Day 1 of every month</label>                                                        
                                                <hr>                                            
                                                <h6>Payroll Categories</h6>  
                                                <span>Earnings</span>
                                                <hr>
                                                <table style="border: 1px solid black;">
                                                    <thead><tr>
                                                        <th>Payroll category name (Code)</th>
                                                        <th>Value</th>
                                                    </tr></thead>
                                                    <tr>
                                                        <td>House Rent Allowance</td>
                                                        <td>CAT2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Travelling Allowance</td>
                                                        <td>CAT3</td>
                                                    </tr>
                                                </table>   
                                                <br>
                                                <span>Deductions</span>
                                                <hr>
                                                <table style="border: 1px solid black;">
                                                    <thead><tr>
                                                        <th>Payroll category name (Code)</th>
                                                        <th>Value</th>
                                                    </tr></thead>
                                                    <tr>
                                                        <td>House Rent Allowance</td>
                                                        <td>CAT2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Travelling Allowance</td>
                                                        <td>CAT3</td>
                                                    </tr>
                                                </table>                                                           
                                            </div>                                        
                                        </div>
                                    </div>

                                                                                                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
