<div class="modal-header text-white" [ngStyle]="{'background-color': lectureData.status == '0' && hasEdit ? 'green' : 'blue' }">
    {{ lectureData.status == '0' && hasEdit ? 'Completed Lecture' : 'Lecture Details' }}
    <i class="fa fa-times modal-close" (click)="closeModal()"></i>
    
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <label class="form_label">Section: <span> {{ lectureData?.section?.name ?? 'N/A'}}</span></label>
        </div>
        <div class="col-md-6">
            <label class="form_label">Class: <span> {{ lectureData?.classes?.name ?? 'N/A'}}</span></label>
        </div>
        <div class="col-md-6">
            <label class="form_label">Batch: <span> {{ lectureData?.batch?.name ?? 'N/A'}}</span></label>
        </div>
        <div class="col-md-6">
            <label class="form_label">Subject: <span> {{ lectureData?.subject?.name ?? 'N/A'}}</span></label>
        </div>
        <div class="col-md-6">
            <label class="form_label">Chapter: <span> {{ lectureData?.chapter?.name ?? 'N/A'}}</span></label>
        </div>
        <div class="col-md-6">
            <label class="form_label">Lecture: <span> {{ lectureData?.lecture_name ?? 'N/A'}}</span></label>
        </div>
        <ng-container *ngIf="lectureData?.status == '0' && hasEdit" [formGroup]="completedLectureForm">
            <div class="form_group">
                <label class="form_label">Remarks</label>
                <app-input controlName="remark" type="text" placeholder="Enter Remarks" ></app-input>
            </div>
            <div class="form_group">
                <label class="form_label">Attachment</label>
                <div class="">
                    <app-input #file type="file" controlName="upload" [multiple]="true" accept=".pdf, .xls, .xlsx, .jpg, .jpeg, .png, .doc, .docx"></app-input>

                    <div class="select-attechment-chip">
                        <ng-container *ngIf="completedLectureForm?.value?.upload?.length > 0">
                            <ng-container
                                *ngFor="let item of completedLectureForm?.value?.upload; let i=index">
                                <p class="selected_attachment"> {{item?.name}}&nbsp;</p>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="form_group">
                <label class="form_label">Reference Link</label>
                <app-input controlName="reference_link" type="text" placeholder="Enter Reference Link"></app-input>
            </div>
            <div class="form_group">
                <label class="form_label">Date <span class="text-danger">*</span></label>
                <app-mat-date-picker controlName="remark_date" [minDate]="minDate" [maxDate]="maxDate"></app-mat-date-picker>
            </div>
        </ng-container>
        <ng-container *ngIf="lectureData?.status == '1' || !hasEdit">
            <div class="col-md-12">
                <label class="form_label">Remarks: <span> {{ lectureData?.remark ?? 'N/A'}}</span></label>
            </div>
            <div class="col-md-12">
                <label class="form_label">Reference Link: <a target="_blank" *ngIf="lectureData?.reference_link" href="{{lectureData?.reference_link}}"> {{ lectureData?.reference_link ?? 'N/A'}}</a></label>
            </div>
            <div class="col-lg-12">
                <div class="group-detail-content group-attechment-detail">
                    <label class="form_label">Attachments: </label>
                    <div class="row" *ngIf="lectureData?.attachments && lectureData?.attachments.length > 0">
                        <div class="col-md-4 form_group" *ngFor="let file of lectureData?.attachments">
                            <div class="attach_file" style="cursor: pointer;" (click)="download(file?.attachment_url)">
                                <div class="pdf-img text-center">
                                    <i class="fa fa-file-pdf" *ngIf="file?.file_name.includes('.pdf')"></i>
                                    <i class="fa fa-file-image" *ngIf="!file?.file_name.includes('.pdf')"></i>
                                </div>
                                <div class="pdf-detail d-flex align-items-center position-relative pdf-label-text">
                                    <p class="mb-0">{{file?.file_name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="no_attachment" *ngIf="lectureData?.attachments.length == 0">
                        <p class="mb-0 text-center">No Attachment</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div *ngIf="lectureData?.status == '0' && hasEdit" class="modal-footer" style="z-index: 0;">
    <div class="col-auto">
        <button class="btn save-btn" type="submit" (click)="saveCompletedLecture()" [disabled]="isSaveLoading"> Save
            <div class="spinner-border spinner-border-sm" role="status" *ngIf="isSaveLoading">
                <span class="visually-hidden">Loading...</span>
            </div>
        </button>
    </div>
    <div class="col-auto">
        <button type="submit" class="cancel-btn btn" (click)="closeModal()">
            Cancel
        </button>
    </div>
</div>