<section class="leave_form export-faculty">
    <div class="page_inner">
        <div class="m-container">
            <div class="d-flex justify-content-between align-items-center my-3">
				<h3 class="sub_title mb-0">Export Faculty</h3>
				<div class="btn_right d-flex">
					<a class="active btn btn-focus m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air pdf-btn" ngbTooltip="PDF" (click)="onSubmit('pdf')"><img src="assets/images/pdf-icon.svg" alt=""></a> &nbsp;&nbsp;&nbsp;
                    <a class="active btn btn-focus m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air excel-btn" ngbTooltip="EXCEL" (click)="onSubmit('excel')"><img src="assets/images/excel-icon.svg" alt=""></a> &nbsp;&nbsp;&nbsp;
				</div>
			</div>
            <div class="">
                <div class="card_body">
                    <div>
                        <div class="card">
                            
                            <form [formGroup]="examTimeTableform" class="form_section">
                                <div class="row">

                                    <div class="col-md-3 form_group">
                                        <label class="form_label">Select sections<span class="text-danger">*</span></label>
                                        <div>
                                            <ng-multiselect-dropdown formControlName="sections"
                                                [placeholder]="'Select sections'"
                                                [settings]="dropdownSettings"
                                                [data]="dropdownListSection"
                                                [(ngModel)]="selectedSections"
                                                (onSelect)="onSectionSelect($event)"
                                                (onDeSelect)="onSectionDeSelect($event)"
                                                (onDeSelectAll)="onSectionDeSelectAll($event)"
                                                (onSelectAll)="onSectionSelectAll($event)"
                                                >
                                                </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3 form_group">
                                        <label class="form_label">Select Faculty<span class="text-danger">*</span></label>
                                        <div>
                                            <ng-multiselect-dropdown formControlName="faculty"
                                                [placeholder]="'Select faculty'"
                                                [settings]="dropdownSettings"
                                                [data]="dropdownListFaculty"
                                                [(ngModel)]="selectedFaculty"
                                                (onSelect)="onFacultySelect($event)"
                                                (onDeSelect)="onFacultyDeSelect($event)"
                                                (onDeSelectAll)="onFacultyDeSelectAll($event)"
                                                (onSelectAll)="onFacultySelectAll($event)"
                                                >
                                                </ng-multiselect-dropdown>
                                        </div>
                                    </div>

                                    <div class="col-md-3 form_group">
                                        <label class="form_label">Select Fields<span class="text-danger">*</span></label>
                                        <div>
                                            <ng-multiselect-dropdown formControlName="fields"
                                                [placeholder]="'Select fields'"
                                                [settings]="dropdownSettings"
                                                [data]="dropdownList"
                                                [(ngModel)]="selectedItems"                 
                                                (onSelectAll)="onSelectAll($event)"
                                                >
                                                </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-md-1 form_group add_doc">
                                        <label>Show</label>
                                        <div>
                                            <button type="submit" (click)="onSubmit()" [disabled]="!examTimeTableform.valid" class="btn show-btn w-100" id="submitButton">Show</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1 form-group mt-1 ml-4 mb-0 text-left w-100">
                                        <!-- <small *ngIf="!examTimeTableform.valid" class="text-black">Please fill all the details to save</small>    -->
                                        <div class="">
                                            <!-- <a class="btn btn-danger btn-minwidth" href="#" [routerLink]="setUrl(URLConstants.ROLE_LIST)">Cancel</a> -->
                                            
                                            <!-- <button type="submit" (click)="onSubmit('pdf')" [disabled]="!examTimeTableform.valid" class="btn btn-success btn-minwidth" id="submitButton">Generate TimeTable PDF</button>
                                            <button type="submit" (click)="onSubmit('excel')" [disabled]="!examTimeTableform.valid" class="btn btn-success btn-minwidth" id="submitButton">Generate TimeTable Excel</button> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">                        
                            <div class="col-lg-12 datatable_cls basic_table">
                                <div class="table-responsive" *ngIf="defaultList">
                                    <table class="table table-bordered table-hover table-nowrap no-footer display" style="width:100%;">
                                        <thead class="thead-light">
                                            <tr>
                                                <th *ngFor="let item of dropdownListFrontEnd">{{item.name}}</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="tbody?.length != 0">
                                            <tr *ngFor="let item of tbody ;let i = index;" >				
                                                    <td *ngFor="let field of dropdownListFrontEnd; let i = index;">{{item[field.id]}}</td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="tbody?.length == 0">
                                            <tr>
                                            <td colspan="5" class="text-center no-data-available">No data</td>
                                            </tr>
                                        </tbody>									
                                    </table>
                                </div>
                                <div class="table-responsive"  *ngIf="!defaultList">
                                    <table class="table table-bordered table-hover table-nowrap display" style="width:100%;">
                                        <thead class="thead-light">
                                            <tr>
                                                <th  *ngFor="let item of dropdownListFrontEnd">{{item.name}}</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="tbody?.length != 0">
                                            <tr *ngFor="let item of tbody ;let i = index;" >				
                                                <td *ngFor="let field of dropdownListFrontEnd; let i = index;"> {{item[field.id]}} </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="tbody?.length == 0">
                                            <tr>
                                            <td colspan="5" class="text-center no-data-available">No data</td>
                                            </tr>
                                        </tbody>									
                                    </table>
                                </div>
                            </div>
                        </div>                    
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>