<div class="modal-header">
    <div class="modal-title">{{scf?.title}} Attachments</div>
    <div class="modal-close" (click)="closeModal()"><i class="zmdi zmdi-close"></i></div>
</div>
<div class="modal-body">
	<div class="d-flex justify-content-center" *ngIf="scf?.fees_attachments?.length > 0">
		<div id="carouselExampleCaptions" class="carousel" data-bs-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item " [attr.data-bs-interval]="200000" [class.active]="i == 0" *ngFor="let file of scf?.fees_attachments; let i = index">
		      	<img src="{{file.file_url}}" alt="{{file.file_name}}" class="d-block w-100" >
		      	<div class="d-flex justify-content-center mt-2">
		        	<h5>{{file.file_name}}</h5>
			      	<span class="delete-button" *ngIf="scf.remaining_amount > 0" (click)="deleteAttachement(file)">
	                    <i class="fa fa-trash text-danger ms-2"></i>
	                </span>
		      	</div>
                <div class="deleting d-flex justify-content-center" *ngIf="file.deleting"><span>Deleting...</span></div>
		    </div>
		  </div>
		</div>
	  	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
	    	<span class="carousel-control-prev-icon text-dark" aria-hidden="true"><i class="fa fa-angle-left"></i></span>
	  	</button>
	  	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
	    	<span class="carousel-control-next-icon text-dark" aria-hidden="true"><i class="fa fa-angle-right"></i></span>
	  	</button>
	</div>
	<div class="d-flex justify-content-center" *ngIf="scf?.fees_attachments?.length == 0">
		<span>No Attachments Found</span>
	</div>
</div>
<div class="d-flex justify-content-end modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeModal()">Cancel</button>
</div>