@import '../../../../assets/scss/variables';
@import'../../../../assets/css/variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::ng-deep body{ 
    app-collect-fees{
        .pe-32{
            padding-right: 32px !important;
        }
        .ps-35{
            padding-left: 35px;
        }
        font-family: "Poppins", sans-serif;
        .dropdown-list{
            background-color: white !important;
            border: 1px solid #D0C9C0 !important;
            box-sizing: border-box !important;
            box-shadow: unset !important;
            margin: 0 !important;
            border-top: 0 !important;
            border-radius: 0 0 4px 4px !important;
            .filter-textbox{
            display: none !important;
            }
            input[type=checkbox] + div{
                &:before{
                    display: none !important;
                }
            }
            ul{
            margin: 5px !important;
            }
            ul{
                &.item1 {
                    display: none !important;
                }
            }
            li{
                padding: 0 !important;
                &:hover{
                    background-color: $primary  !important;
                    color: $white;
                    >div{
                    padding: 6px 10px !important;
                    color: $white !important;
                    }
                }
                input{
                    &:checked{
                        +div{
                            padding-left: 0 !important;
                            background-color: $primary  !important;
                            color: $white !important;
                            &::after{
                            content:none !important;
                            }
                        }
                    }
                }
                >div{
                    padding: 6px 10px!important;
                    width: 100% !important;
                    text-align: left !important;
                    font-size: 14px !important;
                }
                &.no-data{
                    padding: 0 10px 5px !important;
                    h5, .h5 {
                    font-size: 15px !important;
                    margin: 0;
                    }
                    &:hover{
                    background-color: none !important;
                    }
                }
            }
            .multiselect-item-checkbox{
                input[type=checkbox] + div{
                    padding-left: 12px !important;
                }
            }
        }
        .bg_counter{
            display: flex;
            align-items:center;
            width: max-content;
            .content{
                strong{
                    font-size: 16px;
                    line-height: 1.2;
                }
                .counter_title{
                    font-size: 14px;
                    font-weight: 500;
                    color: $primary;
                    opacity: 0.6;
                }
            }
        }
        .product-icon{
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 14px;
            background: $primary;
            padding: 5px;
            img{
                position: relative;
            }
            &.active_user{
                img{
                    left: 3px;
                }
            }
            &.teacher{
                img{
                    top: -1px;
                }
            }
            &.super_admin{
                img{
                    top: 1px;
                }
            }
        }
        .card{
            box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
            border: none;
            border-radius: 2px;
            background: #fff;
            .card-header {
                padding: 10px 15px;
                border-radius: 0 !important;
                color: $black;
                font-weight: 600;
                font-size: 16px;
                border-bottom: 1px solid rgba(0,0,0,.16);
            }
        }
        .counter_card{
            border-right: 2px solid #C7C7C7;
            padding: 0 6px;
            &:last-child{
                border-right: none;
            }
        }
        .flex-1{
            flex: 1;
        }
        .filter_btn{
            svg{
                rect{
                    fill: $black;
                }
            }
        }
        form{
            &.new-form{
                .create-dropdown{
                    .dropdown-header{
                        .form-control{
                            box-shadow: none !important;
                        }    
                    }
                    .dropdown-body{
                        button{
                            color: #000;
                        }
                    }
                }
                .form-control{
                    border: none;
                    background: $primary-1;
                    box-shadow: 0px 0px 0px 1px rgb(242 135 38 / 50%);
                    border-radius: 3px;
                    &::placeholder {
                        color: #777777;
                        font-size: 13px;
                    }
                    &.m-radio-section{
                        padding: 8px 5px 4px 12px;
                        .radio{
                            padding-right: 6px;
                            label{
                                margin-bottom: 0;
                                color: $black;
                                font-weight: 500;
                                font-size: 12px;
                                input{
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
                .form_label{
                    color: $black;
                    font-size: 13px;
                    font-weight: 600;
                    small{
                        color: #737171;
                    }
                }
                .search_bar_input{
                    position: relative;
                    button{
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        border:none;
                        padding: 0;
                        background:unset;
                        i{
                            color: #777;
                        }
                    }
                }
                .info_data{
                    display: flex;
                    button{
                        border: none;
                        background: none;
                        padding: 0;
                        margin-left: 15px;
                        font-size: 17px;
                        i{
                            color:#454545;
                        }
                    }
                }
                .ng-select{
                    &.ng-select-single{
                        .ng-select-container{
                            border: none;
                            background:unset;
                        }
                    }
                    .ng-select-container {
                        .ng-value-container{
                            .ng-placeholder{
                                color: #777;
                                font-size: 13px;
                            }
                        }
                    }
                    .ng-arrow-wrapper {
                        .ng-arrow{
                            border:none;
                            position: relative;
                            &::before{
                                position: absolute;
                                content: "\e92d";
                                font-family: feather;
                                font-size: 17px;
                                top: -17px;
                                right: -7px;
                                color: #454545;
                            }
                        }
                    }
                    &.ng-select-opened{
                        >.ng-select-container {
                            .ng-arrow{
                                top: 0;
                            }
                        }
                    }
                }
                .tooltip-inner{
                    background:#454545;
                }
                .tooltip-arrow{
                    &::before{
                        border-bottom-color:#454545;
                    }
                }
                .datepicker{
                    &.input-group{
                        input{
                            box-shadow: none;
                            background: none;
                            position: relative;
                            z-index: 5;
                            cursor: pointer;
                            padding: 0;
                        }
                        .input-group-text {
                            position: absolute;
                            right: 10px;
                            background: unset;
                            border: none;
                            padding: 0;
                            top: 47%;
                            transform: translateY(-50%);
                            i{
                                font-size: 19px;
                                color: $black;
                                font-weight: 500;
                                line-height: 18px;
                            }
                        }
                    }
                }
                input[type=file]{
                    &::-webkit-file-upload-button{
                        display: none;
                    }
                }
                .button-footer{
                    border-top: 1px solid #aaaaaa5c;
                    margin: 10px 0 0;
                    padding-top: 20px;
                }
                .btn{
                    &.btn-secondary{
                        background-color: #737f9e;
                    }
                }
                .attachment{
                    &.input-group{
                        flex-wrap: nowrap;
                        input{
                            width: 100%;
                        }
                        label{
                            position: absolute;
                            width: max-content;
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            background: #DDDDDD;
                            border-radius: 3px;
                            color: #666565;
                            font-size: 12px;
                            padding: 0px 6px;
                            font-weight: 500;
                            i{
                                font-size: 15px;
                                font-weight: 500;
                                margin-right: 3px;
                            }
                        }                        
                        &>:not(:first-child){
                            &:not(.dropdown-menu){
                                &:not(.valid-tooltip){
                                    &:not(.valid-feedback){
                                        &:not(.invalid-tooltip){
                                            &:not(.invalid-feedback){
                                                border-radius: 3px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:not(.has-validation){
                            >.dropdown-toggle{
                                &:nth-last-child(n+3){
                                    border-radius:3px;
                                }
                            }
                        }
                        &:not(.has-validation){
                            >:not(:last-child){
                                &:not(.dropdown-toggle){
                                    &:not(.dropdown-menu){
                                        border-radius:3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .info_title{
            &.card {
                .card-header{
                    background: $primary;
                    color: $white;
                    border-bottom: none;
                }
            }
        }
        .student_details{
            .card_body{
                padding:5px 0 5px;
                table{
                    &.fee_summary{
                        display: table;
                        tr{
                            td{
                                padding: 7px 25px;
                                white-space: nowrap;
                                box-shadow: 0 1px 0 rgb(0 0 0 / 25%);
                                color: #4B4A4A;
                                font-weight: 500;
                                i{
                                    color: $primary;
                                    min-width: 15px;
                                    text-align: center;
                                }
                                &:first-child{
                                    width: 100%;
                                }
                            }                            
                            &:last-child{
                                td{
                                    box-shadow:none;
                                }
                            }
                            th{
                                padding: 7px 25px;
                                white-space: nowrap;
                                box-shadow: 0 1px 0 rgb(0 0 0 / 25%);
                            }
                        }
                    }
                }
            }
        }
        .paid_fees_card{
           .card_body{
                table{
                    &.paid_fees{
                        display: table;
                        width: 100%;
                        tr{
                            td,th{
                                padding: 7px 15px;
                                white-space: nowrap;
                                box-shadow: 0 1px 0 rgb(0 0 0 / 25%);
                                color: #4B4A4A;
                                font-weight: 500;
                            }
                            
                            th{
                                color: #AAAAAA;
                                border: 1px solid rgb(0 0 0 / 16%);
                                border-left: 0;
                                border-right: 0;
                                box-shadow:unset;
                            }
                            td{
                                padding-top: 3px;
                                padding-bottom: 3px;                             
                                i {
                                    font-size: 18px;
                                    color: var(--primary);
                                }
                            }
                            &:last-child{
                                td{
                                    box-shadow:none;
                                }
                            }
                            &:first-child{
                                th{
                                    border-top:unset;
                                }
                            }
                        }
                    }
                }
           } 
        }
        .highlight{
            .card_body{
                background: var(--primary-8);
                margin: 15px 15px 10px;
                font-weight: 500;
                color: #fff;
                padding: 10px 15px;
            }
        }
        .student-search, .select_section{
            .form-control{
                border: none;
                background: $primary-1;
                box-shadow: 0px 0px 0px 1px rgb(242 135 38 / 50%);
                border-radius: 3px;
                &::placeholder {
                    color: #777777;
                    font-size: 13px;
                }
            }
        }
        .select_section{
            .form-control{
                .ng-select-container{
                    background: unset;
                    border: 0;
                }
            }
        }
        .tooltip {
            position: relative;
            display: inline-block;
        }
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 200px;
            background-color: #f6eeee;
            color: #000;
            border-radius: 2px;
            position: absolute;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            opacity: 0;
            transition: opacity 0.3s;
            padding: 5px;
            p{
                margin-bottom:0px;
            }
        }
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
        .card .card-label {
            color: #f59f51;
            padding: 2px 13px;
            width: max-content;
            border-radius: 50px;
            position: absolute;
            top: -12px;
            left: 10px;
            background: #ffffff;
            font-weight: 700;
        }
        .paid-fees-history{
            .collect_tooltip{
                .tooltip{
                    position: unset;
                }
            }
            i {
                font-size: 16px;
/*                color: var(--primary);*/
            }
        }
        table{
            &.table-bordered{
                &.dataTable{
                    &.paid-fees-history{
                        tbody{
                            tr{
                                &.cancelled {
                                    background : #ff0909b0!important;
                                }
                                &.due-cheque {
                                    background : #e6ff0078!important;
                                }
                                &.refund {
                                    background : #ff4b0078!important;
                                }
                            }
                        }
                    } 
                }
            }
        }
        .card{
            .datatable_cls{
                .table{
                    .btn-group{
                        a{
                            i{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        .example-accordion-item-header{
            padding : 10px;
            color : white;
/*            background: var(--primary-bg-color);*/
            border-bottom : 1px solid white;
        }

        .remaining-fees-categories tr td {
            padding: 7px 25px;
            white-space: nowrap;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
            color: #4B4A4A;
            font-weight: 500;
        }

        .remaining-fees-categories tr th {
            padding: 7px 25px;
            white-space: nowrap;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        }

        .remaining-fees-categories {
            display: table;
            tr{
                td{
                    padding: 7px 25px;
                    white-space: nowrap;
                    box-shadow: 0 1px 0 rgb(0 0 0 / 25%);
                    color: #4B4A4A;
                    font-weight: 500;
                    i{
                        color: $primary;
                        min-width: 15px;
                        text-align: center;
                        color: #dc3546d3;
                    }
                    &:first-child{
                        width: 100%;
                    }
                }                            
                &:last-child{
                    td{
                        box-shadow:none;
                    }
                }
                th{
                    padding: 7px 25px;
                    white-space: nowrap;
                    box-shadow: 0 1px 0 rgb(0 0 0 / 25%);
                }
            }
        }
        .card{
            &.remaining_fees{
                .card-header{
                    span{
                        color: #dc3546d3;
                    }
                }
                .example-accordion-item-header {
                    color: #000;
                    background: rgba(220, 53, 70, 0.12);
                }
            }
        }
        .card{
            &.paid_fees_card{
                &.remaining_fees{                    
                    box-shadow: 0 1px 4px #00000040 !important;
                }
            }
        }
        .edit-clock {
            margin-left:5px;
            margin-top: -2px;
            width: 18px;
            img {
                min-width: auto;
                height: 17px;
            }
        }
        
    }
    .studentview_lay{
        &.card{
            app-collect-fees{
                .card{
                    box-shadow: 0 1px 4px #00000040 !important;
                }
            }
        }
    }

    .my-custom-class .tooltip-inner {
        background-color: #f6eeee;
        color: #000;
        border-radius: 2px;
        padding: 5px;
        text-align: left;

    }
    .my-custom-class .tooltip-inner p{
        margin-bottom:0px;
    }
    .my-custom-class.bs-tooltip-end .tooltip-arrow::before {
        border-right-color: #f6eeee;
    }
    .my-custom-class.bs-tooltip-start .tooltip-arrow::before {
        border-left-color: #f6eeee;
    }
    .my-custom-class.bs-tooltip-top .tooltip-arrow::before {
        border-top-color: #f6eeee;
    }
    .my-custom-class.bs-tooltip-bottom .tooltip-arrow::before {
        border-bottom-color: #f6eeee;
    }
    .edit-button{
        color:black;
    }
    .swal2-title {
        font-size: 1.3em!important;
    }
    .static-text-danger{
        position: unset !important;
    }
}