.img-preview {
    width: 200px;
    height: 200px;
    object-fit: contain;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}