@import'../../../../assets/css/variable.scss';
::ng-deep body{
    app-notice-list{
        // .section_title{
        //     background-color: $primary;
        //     color: white;
        //     padding: 10px 20px;
        //     border-radius: 7px 7px 0 0;
        // }
        .form-switch{
            .form-check-input{
                margin-left: 0;
                width: 50px;
                height: 25px;
                &:checked{
                    background-color: $primary;
                    border-color: $primary;
                }
                &:focus{
                    box-shadow: 0 0 0 0.25rem rgb(1 50 156 / 25%);;
                }
            }
        } 
        .total_card{
            text-transform: capitalize;
            color: #4e4d4dc7;
            font-weight: 500;
            span{
                color: $primary;
            }
        }
        .main-card{
            .card{
                box-shadow: 0px 0px 20px 0px #dadee8 !important;
            }

            .subject{
                font-size: 16px;
                font-weight: bold;
                color: $primary;
            }
            .btn{
                height: fit-content;
                padding: 4px 8px;
                font-size: 12px;
                border-radius: 8px;
            }
            .btn-submit{
                color: #4E713F;
                padding: 4px 10px;
                background-color: #B3D6A3;
                border-radius: 3px;
                width: 33%;
            }
            .btn-pending{
                color: #FF4335;
                padding: 4px 10px;
                background-color: #FAB5B0;
                border-radius: 3px;
                width: 33%;
            }
            .btn-totle{
                color: #DC5C07;
                padding: 4px 10px;
                background-color: #ffcaa7;
                border-radius: 3px;
                width: 33%;
            }
            .card-foot{
                background-color: #5858581c;
                border-radius: 0 0 7px 7px;
                p{
                    span{
                        font-size: 12px;
                    }
                }
            }
            .card-head{
                border-bottom: 1px solid #00000017;
                div{
                    span{
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
            .attach_file{
                div{
                    width: 25%;
                    :hover {
                        cursor: pointer;
                    }
                    &:note(:first-child){
                        margin-left: 5px;
                    }
                    input{
                        border-radius: 50px;
                        background-color: white;
                        padding: 4px 8px 4px 28px;
                        text-overflow: ellipsis;
                        font-size: 13px;
                    }
                }
                i{
                    &.fa-file-pdf, &.fa-file-image{ 
                        top: 7px;
                        left: 10px;
                        font-size: 15px;
                        position: absolute;
                    }
                    &.fa-file-pdf{
                        color: red;
                    }
                    &.fa-file-image{
                        color: #1976D5;
                    }
                }
                &.defaultContent{
                    height: 54px;
                }
            }
            .count_attach, .copy_link{
                border-radius: 50%;
                background-color: #5858581c;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 6px;
            }
            .copy_link{
                background-color: #397FFB;
                color: $white;
            }
        }
        .notice-card{
            margin-bottom: 16px;
            .notice-card-inner{
                height: 100%;
                background: none;
                margin: 0;
                position: relative;
                overflow: hidden;
                border-radius: 0;
                border-radius: 12px;
                z-index: 0;
                padding: 1px 1px 1px 1px !important;
                &::before{
                    content:"";
                    background:  #61b2fa !important;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top:0;
                    left: 0;
                    z-index: -1;
                }
            }
            .card-head{
                background: #61b2fa !important;
                border-radius: 0;
            margin-bottom: 0 !important;
                .subject{
                    color: #fff;
                }
                .assigned_by{
                    color: #fff;
                    margin-top: 6px;
                }
                .date-assign{
                    color: #fff;
                    margin-top: 6px;
                    .btn{
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #0084f8;
                        .fa{
                            font-size: 16px;
                        }
                        .las{
                            font-size: 20px;
                        }
                    }
                }
                
            }
           
            .notice-card-wrapper{
                
                label{
                    color: #939393;
                    font-size: 14px;
                    line-height: 20px;
                }
                p{
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    color: #000;
                    margin: 0;
                    padding: 10px 12px !important;
                    border: 1px solid rgba(147, 147, 147, 0.3);
                    border-radius: 6px;
                }
                .description-paragraph{
                    max-height: 80px;
                    min-height: 80px;
                    overflow-y: auto;
                }
                
                
            }
            .notice-attached-file{
                input{
                    color: #000;
                    font-weight: 500;
                }
            }
            .notice-card-body{
                background-color: #fff;
                padding: 20px 0;
                border-radius: 0 0 12px 12px;
            }
            .notice-card-footer{
                position: static;
                bottom: 0;
            }
        }
        .notice-card-green{
            .notice-card-inner{
                &::before{
                    content:"";
                    background:  #4dab8c !important; 
                }
            }
            .card-head{
                background: #4dab8c !important;
                .date-assign{
                    .btn{
                        color: #009966;
                    }
                }
            }
        }
        .notice-card-blue{
            .notice-card-inner{
                &::before{
                    content:"";
                    background:  #8057ff !important; 
                }
            }
            .card-head{
                background: #8057ff !important;
                .date-assign{
                    .btn{
                        color: #622efd;
                    }
                }
            }
        }
    }
}