<section class="add_lecture_timings">
    <div class="page_inner">
        <div class="m-container">
            <div class="d-flex justify-content-between align-items-center my-3">
                <h3 class="sub_title mb-0">Fees category List</h3>
                <div class="btn_right">
                    <a [routerLink]="setUrl(URLConstants.FEES_CATEGORY_CREATE)" class="btn add-btn"  *ngIf="CommonService.hasPermission('settings_fees_category', 'has_create')">Create New Fees Category</a>
                </div>
            </div>
            <div class="card">
                <div class="card_body">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-12 datatable_cls">
                                <div class="datatable-action-design">
                                    <div class="action_btn_in_out" (click)="isOpenByClick = !isOpenByClick">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="isOpenByClick" ngbTooltip="Close">
                                        <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/>
                                      </svg>
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="!isOpenByClick" ngbTooltip="Open">
                                        <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/>
                                      </svg>
                                    </div>
                                    <div class="table-responsive">
                                        <table datatable [dtOptions]="dtOptions"
                                            class="table table-hover table-nowrap display dataTable table-bordered" style="width:100%" [ngClass]="{'table-action-col-active' : isOpenByClick}">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Fees Category</th>
                                                    <th>CGST</th>
                                                    <th>SGST</th>
                                                    <th>Is Optional</th>
                                                    <th>Optional Fees</th>
                                                    <th>Trust Associated</th>
                                                    <th>Trust Name</th>
                                                    <th>Category Type</th>
                                                    <th>Months</th>
                                                    <th class="action-btn-sticky">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of tbody ;let i = index;">
                                                    <td>{{item.type_name}}</td>
                                                    <td>{{item.CGST ?? '-'}}</td>
                                                    <td>{{item.SGST ?? '-'}}</td>
                                                    <td>{{item.is_optional == true ? 'True' : 'False'}}</td>
                                                    <td>{{item.optional_fees ?? '-'}}</td>
                                                    <td>{{item.trust_associated == true ? 'True' : 'False'}}</td>
                                                    <td>{{item.trust_name}}</td>
                                                    <td>{{item.category_type}}</td>
                                                    <td style="max-width: 200px !important;white-space: normal;">{{item.months}}</td>
                                                    <td class="action-btn-sticky text-center">
                                                        <div class="btn-group" role="group">
                                                            <a *ngIf="CommonService.hasPermission('settings_fees_category', 'has_edit')" href="#." [routerLink]="[setUrl(URLConstants.FEES_CATEGORY_EDIT),item.id]" ngbTooltip="Edit" container="body" class="lt-btn-icon btn-sm action-edit">
                                                                 
                                                            </a>
                                                            <button *ngIf="CommonService.hasPermission('settings_fees_category', 'has_delete') && canDelete(item.type_name)" ngbTooltip="Delete" container="body" class="lt-btn-icon btn-sm action-delete" (click)="deleteTrustDetail(item.id)">
                                                                
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- <tbody *ngIf="tbody?.length == 0">
                                                <tr>
                                                <td colspan="3" class="text-center no-data-available">No data</td>
                                                </tr>
                                            </tbody> -->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .modal-backdrop.show {
        z-index: 1040 !important;
    }
</style>