<div class="page_inner">
  <div class="m-container">
    <div class="d-flex justify-content-between align-items-center my-3">
      <h3 class="sub_title mb-0">Fees Collection center</h3>
      <div class="btn_right" >
        <a *ngIf="commonService.hasPermission('finance_fees_collection_center', 'has_create')" class="global_btn btn add-btn"  href="#." [routerLink]="setUrl(URLConstants.ADD_CENTER)" > Add New Center</a>
      </div>
    </div>
    <div class="card">
      <div class="card_body">
        <div class="datatable-action-design">
          <div class="action_btn_in_out" (click)="isOpenByClick = !isOpenByClick">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="isOpenByClick" ngbTooltip="Close">
              <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="!isOpenByClick" ngbTooltip="Open">
              <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/>
            </svg>
          </div>
          <table
            datatable
            [dtOptions]="dtOptions"
            class="table_new table table-hover table-nowrap table-bordered" [ngClass]="{'table-action-col-active' : isOpenByClick}"
          ></table>
        </div>
      </div>
    </div>
  </div>
</div>