<div class="modal-header exam-report-download-content">
    <div class="modal-title">Exam Report</div>
    <div class="modal-close" (click)="closeModal()"><i class="zmdi zmdi-close"></i></div>
</div>

<div class="modal-body">
    <form [formGroup]="examReportForm">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4 form_group">
                <label for="" class="form_label">Section
                    <!-- <span class="text-danger">*</span> -->
                </label>
                <div>
                    <app-single-select controlName="section_id" placeholder="Select section" (change)="getClasses()"
                        [dropDownArray]="sectionList"></app-single-select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 form_group">
                <label for="" class="form_label">Class
                    <!-- <span class="text-danger">*</span> -->
                </label>
                <div>
                    <app-single-select controlName="class_id" placeholder="Select class" (change)="getExamAndGradeList()"
                        [dropDownArray]="classList"></app-single-select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 form_group">
                <label for="" class="form_label">Exam
                    <!-- <span class="text-danger">*</span> -->
                </label>
                <div>
                    <app-multi-select controlName="exam_ids" placeholder="Select exam"
                        [dropDownArray]="examList"></app-multi-select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 form_group">
                <label for="" class="form_label">Grade Type
                    <!-- <span class="text-danger">*</span> -->
                </label>
                <div>
                    <app-single-select controlName="grade_type" placeholder="Select grade type"
                        [dropDownArray]="gradeTypeList"></app-single-select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 form_group">
                <label for="" class="form_label">Select Status <span class="text-danger">*</span> </label>
                <div>
                    <app-single-select controlName="status" placeholder="Select status"
                        [dropDownArray]="statusList"></app-single-select>
                </div>
            </div>
            <div class="col-md-4 form_group">
                <label class="form_label">Download type</label>
                <div class="radio">
                    <label for="inlineRadio1" class="m-radio">
                        <input formControlName="download_type" type="radio" id="inlineRadio1" value="pdf"> PDF <span></span></label>
                </div>
                <div class="radio">
                    <label for="inlineRadio2" class="m-radio">
                        <input formControlName="download_type" type="radio" id="inlineRadio2" value="excel"> Excel <span></span>
                    </label>
                </div>
            </div>
            <div class="col-md-12 form_group">
                <label for="absent_grade_and_marks" class="m-radio d-flex">
                  <input formControlName="absent_grade_and_marks" type="checkbox" id="absent_grade_and_marks" class="me-2">
                  Show Absent Student Percentage And Rank <span></span>
                </label>
            </div>
            <div class="col-md-12 form_group">
              <label class="form_label">Rank Type</label>
              <div class="radio">
                <label for="batch" class="m-radio">
                  <input formControlName="rank_type" type="radio" id="batch" value="batch">
                  Batch Wise <span></span>
                </label>
              </div>
              <div class="radio">
                <label for="class" class="m-radio">
                  <input formControlName="rank_type" type="radio" id="class" value="class">
                  Class Wise <span></span>
                </label>
              </div>
            </div>
        </div>
    </form>
</div>

<div class="d-flex justify-content-end modal-footer">
    <button type="button" class="btn btn-primary export-btn" (click)="download()">Download</button>
    <button type="button" class="btn btn-primary clear-btn" (click)="closeModal()">Close</button>
</div>