::ng-deep{
    @import "../../../../../assets/scss/variables";
@import"../../../../../assets/css/variable.scss";
@import'../../../../../assets/css/variable.scss';
    .upcoming-exam-section{
        .upcoming-header{
            padding: 8px;
            // background-color: #DFEEFF;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            &::before{
                content: "";
                background-color: $primary;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 6px 6px 0 0;
                opacity: 0.17;
                z-index: -1;
            }
            .view-all-link{
                font-size: 12px;
                line-height: 14px;
                font-weight: 600;
                color: #000;
                text-decoration: none;
                transition: 0.3s;
                position: relative;
                z-index: 9;
                h3{
                    font-size: 17px;
                    line-height: 22px;
                    font-weight: 600;
                    margin: 0;
                    white-space: nowrap;
                    padding-right: 30px;
                    margin-bottom: 0px;
                    text-transform: capitalize;
                    svg{
                        margin-right: 6px;
                        rect{
                          fill: #fff;
                        }
                        path{
                          fill:#000
                        }
                    }
                }
                &:hover {
                    color: $primary !important;
                    svg{
                        rect{
                          fill: $primary !important;
                        }
                        path{
                          fill:#fff !important;
                          &:nth-of-type(2),&:nth-of-type(3){
                            stroke: $primary !important;
                          }
                        }
                    }
                }
            }
            .md-drppicker{
                left: unset !important;
                right: 0 !important;
                width: 100% !important;
                max-width: 100%;
                overflow: auto;
                min-width: 615px !important;
                display: flex;
                white-space: nowrap;
                &::-webkit-scrollbar{
                    width: 8px;
                    height: 8px;
                }
            }
            .date-icons{
                .form-control{
                    background-image: url(../../../../../assets/images/date-picker-icon.svg);
                    background-position: 95%;
                    background-repeat: no-repeat;
                    padding-right: 24px !important;
                }
            }
            .exam-mark-form{
                width: 100%;
                .row{
                    .form_group{
                        padding: 0 4px;
                        input{
                            font-size: 11px;
                            line-height: 16px;
                            padding: 3px;
                            color: #000;
                            font-weight: 600;
                        }
                    }
                }
                .ng-select.ng-select-single{
                    .ng-select-container{
                        height: 30px;
                        .ng-value-container{
                            padding: 0;
                            padding-left: 6px;
                            .ng-input{
                                padding: 0 10px;
                                position: unset;
                                font-size: 12px;
                            }
                            .ng-value, .ng-placeholder{
                                font-size: 12px;
                            }
                            .ng-input{
                                display: none;
                            }
                        }
                    }
                    .ng-dropdown-panel{
                        width: 300px;
                        .ng-dropdown-panel-items{
                            &::-webkit-scrollbar{
                                width: 4px;
                            }
                        }
                    }
                    
                }
                .multiselect-dropdown{
                    .dropdown-btn{
                        min-height: 30px !important;
                        line-height: 22px !important;
                        padding-left: 6px !important;
                        background-color: #fff !important;
                        display: flex;
                        align-items: center;
                        span{
                            font-size: 12px;
                        }
                        .selected-item-container{
                            .selected-item{
                                margin-inline-end: 4px !important;
                                margin-block-start: 4px !important;
                                span{
                                    font-size: 10px;
                                    line-height: 14px;
                                    display: block;
                                    width: auto;
                                    max-width: 60px;
                                }
                                a{
                                    font-size: 11px !important;
                                }
                            }
                        }
                    }
                    .dropdown-list{
                        width: 250px;
                        ul{
                            &::-webkit-scrollbar{
                                width: 4px;
                            }
                        }
                    }
                   
                }
            }
        }
        .upcoming-table{
            padding: 12px;
        border-radius: 8px;
        overflow: hidden;
            .table-responsive{
                max-height: 400px;
                overflow-y: auto;
                border-radius: 8px !important;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                .table{
                    border-top: none !important;
                    tr{
                        th, td{
                            font-size: 15px !important;
                            line-height: 20px;
                            font-weight: 600 !important;
                            color: #000;
                            padding: 9px 14px;
                            white-space: normal;
                        }
                    }
                    thead{
                        position: sticky;
                        top: 0;
                        background-color: #fff;
                        border-bottom: 1px solid #939393;                
                    }
                    thead{
                        tr{
                            th{
                                color: #000000;
                                font-size: 14px;
                                font-weight: 600;
                                white-space: nowrap;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                border-right: none !important;
                                border-left: none !important;
                                span{
                                    display: flex;
                                    color: #000;
                                }
                                &.text_contact{
                                    color: #24798F;
                                }
                                &:first-child{
                                    cursor: pointer;
                                    &:hover{
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 992px){
        .upcoming-exam-section .upcoming-header h3{
            font-size: 12px;
            line-height: 16px;
        }
        .upcoming-exam-section .upcoming-table .table-responsive .table tr th, .upcoming-exam-section .upcoming-table .table-responsive .table tr td{
            font-size: 12px;
            line-height: 16px;
        }
        .upcoming-exam-section .upcoming-header{
            padding: 8px 10px;
        }
    }
}