<section class="student-dashboard-section">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="student-dashboard-card">
                    <app-gender-wise-student-count></app-gender-wise-student-count>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="student-dashboard-card">
                <app-new-admission></app-new-admission>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="student-dashboard-card student-dashboard-card1">
                <app-total-student-strength></app-total-student-strength>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="student-dashboard-card student-dashboard-card1"> 
                <app-category-wise-student-count></app-category-wise-student-count>
            </div>
            </div>
        </div>
</section>
