<div class="modal-header">
  <div class="modal-title">Pick Location</div>
  <div class="modal-close" (click)="closeModal()"><i class="zmdi zmdi-close"></i></div>
</div>
<div class="row modal-body">
  <div class="form-group mb-2">
    <input placeholder="Enter Location or Address" id="placeInput" #placeInputRef class="form-control" autocomplete="off" />
  </div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="mapReadyHandler($event)"></agm-map>
</div>
<div class="d-flex justify-content-end modal-footer">
  <button type="button" class="btn btn-primary mt-3 mb-0" (click)="send()">Pick</button>
  <button type="button" class="btn btn-secondary mt-3 mb-0" (click)="closeModal()">Cancel</button>
</div>