::ng-deep {
    body{
        .add-sidhi-gun-section{
            margin-top: 20px;
            .card{
                padding: 0;
                border-radius: 6px;
                .edit-card-header{
                    background-color: #DDE8FF;
                    padding: 14px 18px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    p{
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 600;
                        color: #000000;
                        margin: 0;
                        padding-right: 30px;
                        span{
                            font-weight: 500;
                        }
                    }
                }
                .edit-card-body{
                    padding: 18px 18px;
                    .show-clear-btn{
                        text-align: right;
                        // margin-top: 12px;
                        display: flex;
                        align-items: center;
                        // justify-content: flex-end;
                        .btn-primary{
                            min-width: 100px;
                            margin-right: 10px;
                            justify-content: center;
                            &:focus{
                                background-color:var(--primary-bg-color);
                            }
                        }
                    }
                }
            }
            .edit-exam-table{
                padding: 20px;
                background-color: #fff;
                border-radius: 8px;
                margin-bottom: 20px;
                position: relative;
                z-index: 0;
                .table-responsive {
                    overflow-x: auto;
                    overflow-y: auto;
                    max-height: 400px;
                    margin: 0;
                    table{
                        margin: 0;
                        border: 1px solid #D9D9D9;
                        border-spacing: 0;
                        thead{
                            height: 60px;
                            position: sticky;
                            top: 0;
                            z-index: 9;
                            background-color: #D9D9D9;
                            tr{
                                border: 0 !important; 
                                th{
                                    border-spacing: 0 !important;
                                    border-bottom: 0 !important;
                                    border-top: 0 !important;
                                }
                            }
                        }
                        tr{
                            border-width: 1px 0;
                            th,td{
                                vertical-align: middle;
                                padding: 4px 8px;
                                color: #000;
                                white-space: nowrap;
                            }
                            th{
                                background-color: #E7E7E7 !important;
                                border-right: 1px solid #D9D9D9;
                                border-bottom: 1px solid #D9D9D9;
                                border-color: #D9D9D9;
                                &:nth-child(2), &:first-child{
                                    white-space: nowrap;
                                    text-align: left;
                                }
                                &.text-16{
                                    font-size: 14px;
                                    line-height: 14px;
                                    font-weight: 600;
                                }
                            }
                            td{
                                border: none;
                                border-right: 1px solid #D9D9D9;
                                border-bottom: 1px solid #D9D9D9;
                                &:first-child, &:nth-child(2){
                                    white-space: nowrap;
                                    text-align: left;
                                }
                                .mark-value{
                                    min-width: 60px;
                                    width: 60px;
                                    display: block;
                                    margin: auto;
                                    &.form-control{
                                        padding: 8px;
                                        height: 30px;
                                        background-color: #fff;
                                        border: 1px solid #D9D9D9;
                                        font-size: 12px;
                                        line-height: 16px;
                                        font-weight: 500;
                                        color: #000;
                                        text-align: center;
                                        /* Chrome, Safari, Edge, Opera */
                                        &::-webkit-outer-spin-button,
                                        &::-webkit-inner-spin-button {
                                        -webkit-appearance: none !important;
                                        margin: 0 !important;
                                        }

                                        /* Firefox */
                                        &[type=number] {
                                        -moz-appearance: textfield !important;
                                        }
                                    }
                                    &.form-control[readonly]{
                                        background-color: #ebebeb !important;
                                    }
                                }
                                .ng-select-disabled{
                                    .ng-select-container{
                                        background-color: #ebebeb !important;
                                    }
                                }
                                .danger-mark-value{
                                    &.form-control{
                                        background-color: #FEE2E2;
                                        border: 1px solid #AA0404;
                                    }
                                }
                                .grade-select{
                                    max-width: 120px;
                                    margin: auto;
                                    display: block;
                                    .no-data{
                                        h5{
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                            .text-center{
                                text-align: center; 
                            }
                            .bg-change{
                                background-color: #EBEFF9 !important;
                                min-width: 160px;
                            }
                            
                        }
                        tbody{
                            tr{
                                &:nth-of-type(even) {
                                    background-color: #ECF0FA;
                                }
                                &:nth-of-type(odd) {
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
                
            }
            .save-button{
                margin-top: 20px;
                text-align: right;
                .btn-primary{
                    min-width: 100px;
                    &:focus{
                        background-color:var(--primary-bg-color);
                    }
                }
            }
        }
    }
    @media(max-width: 1024px){
        body .add-edit-mark-section .card .edit-card-header p {
            font-size: 14px;
            line-height: 20px;
            padding-right: 20px;
        }
        body .add-edit-mark-section .edit-exam-table .table-responsive table tr th, 
        body .add-edit-mark-section .edit-exam-table .table-responsive table tr td{
            padding: 4px 12px;
        }
    }
    @media(max-width: 992px){
        body .add-edit-mark-section .card .edit-card-body .show-clear-btn .btn-primary{
            min-width: 60px;
        }
        
        body .add-edit-mark-section .card .edit-card-header{
            flex-wrap: wrap;
        }
        body .add-edit-mark-section .card .edit-card-header p{
            width: 49%;
            padding-right: 10px;
            margin-bottom: 10px;
        }
        body .add-edit-mark-section .save-button .btn-primary{
            min-width: 60px;
        }
        body .add-edit-mark-section .card .edit-card-body .show-clear-btn{
            margin-top: 0;
        }
    }
    @media(max-width: 576px){
        body .add-edit-mark-section .edit-exam-table .table-responsive table tr th.text-16 {
            font-size: 12px;
            line-height: 12px;
            font-weight: 600;
        }
        body .add-edit-mark-section .card .edit-card-header{
            flex-wrap: wrap;
        }
        body .add-edit-mark-section .card .edit-card-header p{
            width: 100%;
            padding-right: 10px;
            margin-bottom: 10px;
        }
       
        body h3 {
            font-size: 16px;
        }
    }
}