<section class="leave_form">
    <div class="page_inner">
        <div class="m-container">
            <div class="d-flex justify-content-between align-items-center my-3">
                <h3 class="sub_title mb-0">Edit School</h3>
                <div class="btn_right">
                    <a class="btn"   href="#." [routerLink]="setUrl(URLConstants.LIST_SCHOOL)"> School List</a>
                </div>
            </div>
            <div class="">
                <div class="card_body">
                    <div class="">
                        <div class="card">
                            <form [formGroup]="leavecreateform" class="form_section" id="school-form">

                                <div class="row">
                                    <div class="col-md-3 form_group">                                        
                                        <label class="form_label">Edit Picture</label>												
                                        <div class="">
                                           	<input type="file" accept=".png, .jpg, .jpeg" class="form-control" formControlName="image"
                                             id="image" name="image" (change)="onImageChangeFromFile($event)">                                                                                     
                                        </div>                                                                         
                                    </div>
                                    <div class="col-md-2 form_group" *ngIf="images != undefined && images.length != 0">                                        											
                                        <a href="{{ images }}" target="_blank" rel="noopener noreferrer" >
                                            <img width="100px" height="100px" src="{{ images }}" class="img-circle" formControlName="images">  
                                        </a>
                                    </div>

                                    <div class="col-md-3 form_group">
                                        <label class="form_label">School Name<span class="text-danger">*</span></label>
                                        <div class="">
                                            <input type="text" class="form-control" formControlName="school_name"
                                            id="school_name" name="school_name" required>
                                        </div>
                                        <div *ngIf="leavecreateform.controls['school_name'].invalid && leavecreateform.controls['school_name'].dirty && leavecreateform.controls['school_name'].touched" class=" error text-danger mb-2">
                                            <div *ngIf="leavecreateform.controls['school_name'].errors?.['required']">Please Enter Name</div>
                                        </div> 
                                    </div>


                                    <div class="col-md-3 form_group">
                                        <div class="">
                                            <label class="form_label">Location<span class="text-danger">*</span></label>
                                            <div class="">
                                                <input type="text" class="form-control" formControlName="location"
                                                id="location" name="location" required>
                                            </div>                                          
                                        </div>
                                        <div *ngIf="leavecreateform.controls['location'].invalid && leavecreateform.controls['location'].dirty && leavecreateform.controls['location'].touched" class=" error text-danger mb-2">
                                            <div *ngIf="leavecreateform.controls['location'].errors?.['required']">Please Enter Location</div>
                                        </div> 
                                    </div>

                                    <div class="col-md-3 form_group">
                                        <label class="form_label">Contact No<span class="text-danger">*</span></label>
                                        <div class="">
                                            <input type="number" class="form-control" formControlName="contact"
                                            id="contact" name="contact" required>
                                        </div>
                                        <div *ngIf="leavecreateform.controls['contact'].invalid && leavecreateform.controls['contact'].dirty && leavecreateform.controls['contact'].touched" class=" error text-danger mb-2">
                                            <div *ngIf="leavecreateform.controls['contact'].errors?.['required']">Please Enter Valid Contact No</div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 form_group">
                                        <label class="form_label">Second Contact No</label>
                                        <div class="">
                                            <input type="number" class="form-control" formControlName="secondContact"
                                            id="secondContact" name="secondContact">
                                        </div>
                                    </div>

                                    <div class="col-md-3 form_group">
                                        <label class="form_label">Address<span class="text-danger">*</span></label>
                                        <div class="">
                                            <textarea class="form-control" formControlName="address"
                                            id="address" name="address" required></textarea>
                                        </div>
                                        <div *ngIf="leavecreateform.controls['address'].invalid && leavecreateform.controls['address'].dirty && leavecreateform.controls['address'].touched" class=" error text-danger mb-2">
                                            <div *ngIf="leavecreateform.controls['address'].errors?.['required']">Please Enter Address</div>
                                        </div> 
                                    </div>

                                    <div class="col-md-3 form_group">
                                        <label class="form_label">City<span class="text-danger">*</span></label>
                                        <div class="">
                                            <input type="text" class="form-control" formControlName="city"
                                            id="city" name="city" required>
                                        </div>
                                        <div *ngIf="leavecreateform.controls['city'].invalid && leavecreateform.controls['city'].dirty && leavecreateform.controls['city'].touched" class=" error text-danger mb-2">
                                            <div *ngIf="leavecreateform.controls['city'].errors?.['required']">Please Enter City</div>
                                        </div> 
                                    </div>

                                    <div class="col-md-3 form_group">
                                        <label class="form_label">UDISE No</label>
                                        <div class="">
                                            <input type="number" class="form-control" formControlName="udiseNo"
                                            id="udiseNo" name="udiseNo">
                                        </div>
                                    </div>

                                    <div class="col-md-3 form_group">
                                        <label class="form_label">SSC Index No</label>
                                        <div class="">
                                            <input type="number" class="form-control" formControlName="sscIndexNo"
                                            id="sscIndexNo" name="sscIndexNo">
                                        </div>
                                    </div>

                                    <div class="col-md-3 form_group">
                                        <label class="form_label">HSC Index No</label>
                                        <div class="">
                                            <input type="number" class="form-control" formControlName="hscIndexNo"
                                            id="hscIndexNo" name="hscIndexNo">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3 form_group">
                                        <label class="form_label">Trust Name</label>
                                        <div class="">
                                            <input type="text" class="form-control" formControlName="trust_name"
                                            id="trust_name" name="trust_name">
                                        </div>
                                    </div>
                                    <div class="col-md-3 form_group">
                                        <label class="form_label">Affiliation No</label>
                                        <div class="">
                                            <input type="text" class="form-control"  formControlName="affiliation_no"
                                            id="affiliation_no" name="affiliation_no">
                                        </div>
                                    </div>

                                    <div class="col-md-3 form_group">                                        
                                        <div class="">                                           
                                            <input type="hidden" formControlName="is_school"  name="is_school" id="is_school"
                                            class="form-control">  
                                        </div>
                                    </div>                                    
                                </div>

                                    <div class="row w-100">
                                        <div class="col-md-1">
                                            <a class="btn px-2 w-100" href="#" [routerLink]="setUrl(URLConstants.LIST_SCHOOL)">Cancel</a>
                                        </div>
                                        <div class="col-md-1">
                                            <button *ngIf="CommonService.hasPermission('settings_school_name', 'has_update')" type="submit" (click)="onSubmit()" [disabled]="!leavecreateform.valid" class="btn px-2 w-100" id="submitButton">Update</button>
                                        </div>
                                    </div>
                            </form>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>