::ng-deep{
    app-generate-marksheet-setup {
        .page-title {
            h3 {
                white-space: nowrap;
            }
            ng-select {
                min-width: 230px;
            }
        }
        .genrate_marksheet_setup{
            .table-responsive{
                .table{
                    thead{
                        tr{
                            th{
                                background-color: #e7e7e7 !important;
                                color: #000 !important;
                                font-size: 14px !important;
                                letter-spacing: 0;
                                padding: 10px !important;
                                font-weight: 600 !important;
                                text-transform: uppercase;
                                outline: none !important;
                                box-shadow: none !important;
                            }
                        }
                    }
                }
            }
        }
    }    
}