
// count card css start
@import "../../../../../assets/scss/variables";
@import"../../../../../assets/css/variable.scss";
@import'../../../../../assets/css/variable.scss';
.count-card{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 12px;
    position: relative;
    z-index: 0;
    &::before{
        content: "";
        background-color: #fff;
        width: 0px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.4s;
        z-index: -1;
        border-radius: 6px 0 0 6px;
        opacity: 0;
    }
    .count-lt-content{
        h4{
            font-size: 16px;
            line-height: 16px;
            font-weight: 600;
            // color: #6C757D;
            margin-bottom: 7px;
        }
        p{
            font-size: 22px;
            line-height: 30px;
            font-weight: 700;
            // color: #000;
            margin: 0;
        }
        .present-count{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span{
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                // color: #000;
            }
            em{
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                // color: #000;
                display: inline-block;
                padding-left: 10px;
                font-style: normal;
            }
        }
    }
    .count-rt-content{
        width: 50px;
        height: 50px;
        min-width: 50px;
        // background-color: #DBF3FA;
        // background-color: $primary;
        border-radius: 100px;
        margin-left: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
        svg{
            width: 22px !important;
            // path{
            //     fill: $primary;
            // }
        }
        &::before{
            content: "";
            background-color: $primary;
            width: 100%;
            height: 100%;
            border-radius: 100px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            opacity: 0.3;
            transition: 0.4s;
        }
    }

    &:hover{
        &:before{
            width: 100%;
            border-radius: 6px;
            opacity: 1;
        }
        // .count-lt-content{
        //     h4{
        //         color:#fff;
        //     }
        //     p{
        //         color: #fff;
        //     }
        // }
        // .count-rt-content{
        //     &::before{
        //         background-color: #fff;
        //         opacity: 1;
        //     }
        // }
    }
}

.count-card-green{
    background-color: rgba(104, 177, 104, 0.17);
    .count-lt-content{
        h4,p{
            color: #68B168;
        }
    }
    .count-rt-content{
        background-color: #E1F2E1;

        svg{
            fill:#68B168;
        }

        &::before{
            background-color: #68B168;
        }
    }

    &:hover{
        .count-rt-content{
            svg{
                fill: #fff;
            }
            &::before{
                background-color: #68B168 !important;
                opacity: 1 !important;
            }
        }
    }
}

.count-card-red{
    background-color: rgba(234, 153, 153, 0.17);
    .count-lt-content{
        h4,p,span,em{
            color: #EA9999;
        }
    }
    .count-rt-content{
        background-color: #FFE7E7;

        svg{
            fill:#EA9999;
        }

        &::before{
            background-color: #EA9999;
        }
    }
    &:hover{
        .count-rt-content{
            svg{
                fill: #fff;
            }
            &::before{
                background-color: #EA9999 !important;
                opacity: 1 !important;
            }
        }
    }
}

.count-card-purple{
    background-color: rgba(172, 172, 255, 0.17);
    .count-lt-content{
        h4,p{
            color: #ACACFF;
        }
    }
    .count-rt-content{
        background-color: #EDEDFF;
        svg{
            fill:#ACACFF;
        }

        &::before{
            background-color: #ACACFF;
        }
    }
    &:hover{
        .count-rt-content{
            svg{
                fill: #fff;
            }
            &::before{
                background-color: #ACACFF !important;
                opacity: 1 !important;
            }
        }
        
    }
}

.count-card-lightblue{
    background-color: rgba(90, 216, 247, 0.17);
    
    .count-lt-content{
        h4,p,span,em{
            color: #5ad7f7;
        }
    }
    .count-rt-content{
        background-color: #EDEDFF;
        svg{
            fill:#5ad7f7;
        }

        &::before{
            background-color: #5ad7f7;
        }
    }
    &:hover{
       
        .count-rt-content{
            svg{
                fill:#fff;
            }
            &::before{
                background-color: #5ad7f7 !important;
                opacity: 1 !important;
            }
        }
        
    }
}

@media(max-width: 1200px){
    .count-card{
        padding: 14px;
    }
    .count-card .count-lt-content h4{
        font-size: 13px;
    }
    .count-card .count-lt-content p{
        font-size: 16px;
    }
}
