<section class="leave_form">
    <div class="page_inner">
        <div class="m-container">
            <div class="d-flex justify-content-between align-items-center my-3">
                <h3 class="sub_title mb-0">{{edit_view ? 'Edit' : 'Add'}} Purchase Order  Invoice Verification</h3>
                <div class="btn_right">
                    <a class="btn list-btn" href="#." [routerLink]="CommonService.setUrl(URLConstants.INVOICE_ORDER_LIST)">Purchase Verification List</a>
                </div>
            </div>
            <form [formGroup]="invoiceForm" class="form_section global_form">
                <div class="card">
                    <div class="card_body">
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="heading">
                                                <p><span> Order Details </span></p>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 form_group">
                                                    <label class="form_label">Select Purchase Order<span
                                                            class="text-danger">*</span></label>
                                                    <div>
                                                        <app-single-select placeholder="Please Select Purchase Order"
                                                            controlName="purchase_order_id" [readonly]="record_id"
                                                            [dropDownArray]="purchaseOrderList" (change)="handlePoChange()"></app-single-select>
                                                    </div>
                                                </div>
                                                <div class="col-6 form_group">
                                                    <label class="form_label">Vendor Name<span
                                                            class="text-danger">*</span></label>
                                                    <div>
                                                        <app-input type="text" [readonly]="true" name="vendor_name" id="vendor_name"
                                                            controlName="vendor_name" placeholder="Vendor Name"
                                                            required></app-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="heading">
                                                <p><span> Invoice Details</span>
                                                </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 form_group">
                                                    <label class="form_label">Invoice Date<span
                                                            class="text-danger">*</span></label>
                                                    <div>
                                                        <app-mat-date-picker placeholder="Select Purchase Date"
                                                            controlName="invoice_date"></app-mat-date-picker>
                                                    </div>
                                                </div>
                                                <div class="col-6 form_group">
                                                    <label class="form_label">Invoice No.<span
                                                            class="text-danger">*</span></label>
                                                    <div>
                                                        <app-input type="text" name="invoice_no" id="invoice_no"
                                                        controlName="invoice_no" placeholder="Enter Invoice No."
                                                        required></app-input>
                                                    </div>
                                                </div>
                                                <div class="col-6 form_group">
                                                    <label class="form_label">Payment Status<span
                                                            class="text-danger">*</span></label>
                                                    <div>
                                                        <app-single-select  name="payment_status"
                                                            id="payment_status" controlName="payment_status"
                                                            placeholder="Payment Status" [dropDownArray]="paymentStatus"
                                                            required></app-single-select>
                                                    </div>
                                                </div>
                                                <div class="col-6 form_group">
                                                    <label class="form_label">Attachment</label>
                                                    <div>
                                                        <app-input type="file" accept="image/*,application/pdf"
                                                            name="attachment" controlName="attachment"
                                                            placeholder="Attachment" (change)="onFileChange($event)"
                                                            required></app-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-nowrap table datatable w-100">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Item Type</th>
                                            <th>Item name</th>
                                            <th>Unit Purchase Price</th>
                                            <th>Quantity</th>
                                            <th>Total Amount</th>
                                            <th>Discount Amount</th>
                                            <th>CGST / SGST</th>
                                            <th>IGST</th>
                                            <th colspan="2">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let quantity of quantities.controls; let i=index">
                                        <tr>
                                            <td>{{i+1}}</td>
                                            <td>
                                                <div>
                                                    <app-single-select [readonly]="requisition_disabled[i]"
                                                        [GroupName]="i" formArrayName="quantities"
                                                        placeholder="Please Select Item Type"
                                                        controlName="inventory_item_type_id"
                                                        [dropDownArray]="itemTypeList"
                                                        (change)="itemTypeChange($event,i)"></app-single-select>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <app-single-select [readonly]="requisition_disabled[i]"
                                                        [GroupName]="i" formArrayName="quantities"
                                                        placeholder="Please Select Item" controlName="inventory_item_id"
                                                        [dropDownArray]="inventoryItemList[i]"
                                                        (change)="itemChange($event,i)"></app-single-select>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <app-input [GroupName]="i" type="number" min="0"
                                                        formArrayName="quantities"
                                                        controlName="unit_purchase_price" (input)="updateAmount(i)"  (change)="updateAmount(i)"></app-input>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <app-input min="0" type="number" max="{{invoiceItems[i].max_quantity}}"
                                                        [GroupName]="i"
                                                        formArrayName="quantities" controlName="quantity"
                                                        (input)="updateAmount(i)"
                                                        (change)="updateAmount(i)"></app-input>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <app-input [readonly]="true" [GroupName]="i"
                                                        formArrayName="quantities" controlName="amount"></app-input>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex">
                                                    <app-input type="number" min="0" [GroupName]="i" formArrayName="quantities"
                                                        controlName="discount" (input)="updateAmount(i)"
                                                        (change)="updateAmount(i)"></app-input>
                                                    <app-single-select [GroupName]="i" formArrayName="quantities"
                                                        controlName="discount_type" [dropDownArray]="discount_type"
                                                        (change)="updateAmount(i)"></app-single-select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex">
                                                    <app-input [readonly]="gst[i]" type="number" min="0" [GroupName]="i"
                                                        formArrayName="quantities" controlName="cgst"
                                                        (input)="updateAmount(i)"
                                                        (change)="updateAmount(i)"></app-input>
                                                    <app-input [readonly]="gst[i]" type="number" min="0" [GroupName]="i"
                                                        formArrayName="quantities" controlName="sgst"
                                                        (input)="updateAmount(i)"
                                                        (change)="updateAmount(i)"></app-input>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <app-input [readonly]="igst[i]" type="number" min="0" [GroupName]="i"
                                                        formArrayName="quantities" controlName="igst"
                                                        (input)="updateAmount(i)"
                                                        (change)="updateAmount(i)"></app-input>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <!-- <app-input [readonly]="true" type="number" [GroupName]="i"  formArrayName="quantities" controlName="grand_total" ></app-input> -->
                                                    {{getGrandTotal(i).value | number:'1.2-2'}}
                                                </div>
                                            </td>
                                            <td class="col-md-1 form_group">
                                                <div>
                                                    <button (click)="removeQuantity(i)" class="btn"><i
                                                            class="fa fa-minus"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="row justify-content-end" *ngIf="quantities.controls.length > 0">
                                    <div class="col-3">
                                        <table class="table table-bordered table-nowrap table datatable w-100">
                                            <tr>
                                                <td class="p-0">
                                                    <div class="d-flex justify-content-between">
                                                        <div>Sub Total</div>
                                                        <div>{{invoiceForm.value.sub_total | number:'1.2-2'}}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-0">
                                                    <div class="d-flex justify-content-between">
                                                        <div>Discount</div>
                                                        <div>{{invoiceForm.value.discount_total | number:'1.2-2'}}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-0">
                                                    <div class="d-flex justify-content-between">
                                                        <div>Taxable Amount</div>
                                                        <div>{{invoiceForm.value.taxable_amount | number:'1.2-2'}}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-0">
                                                    <div class="d-flex justify-content-between">
                                                        <div>CGST</div>
                                                        <div>{{invoiceForm.value.cgst_amount | number:'1.2-2'}}</div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>SGST</div>
                                                        <div>{{invoiceForm.value.sgst_amount | number:'1.2-2'}}</div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>IGST</div>
                                                        <div>{{invoiceForm.value.igst_amount | number:'1.2-2'}}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-0">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <span class="me-2">Adjustment Total</span>
                                                            <app-input  min="0" type="number" name="adjustment_amount" id="adjustment_amount" controlName="adjustment_amount" (input)="handleAdjAmountChange()"  (change)="handleAdjAmountChange()"></app-input>
                                                            <app-single-select controlName="adjustment_type" [dropDownArray]="incrementDecrement" (change)="handleAdjAmountChange()"></app-single-select>
                                                        </div>
                                                        <div>{{invoiceForm.value.adjustment_amount | number:'1.2-2'}}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-0">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <span class="me-2">Other Charges</span>
                                                            <app-input  min="0" type="number" name="other_charges" id="other_charges" controlName="other_charges" (input)="handleAdjAmountChange()"  (change)="handleAdjAmountChange()"></app-input>
                                                            <!-- <app-single-select controlName="other_charges_type" [dropDownArray]="discount_type" (change)="handleAdjAmountChange()"></app-single-select> -->
                                                        </div>
                                                        <div>{{invoiceForm.value.other_charges | number:'1.2-2'}} {{invoiceForm.value.other_charges_type == 'amount' ? '₹' :'%' }}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-0">
                                                    <div class="d-flex justify-content-between">
                                                        <div><strong>Total</strong></div>
                                                        <div><strong>{{invoiceForm.value.total_amount |
                                                                number:'1.2-2'}}</strong></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                                <div class="row w-100 mb-4">
                                    <div class="col-auto">
                                        <a class="btn cancel-btn" href="#"
                                            [routerLink]="CommonService.setUrl(URLConstants.INVOICE_ORDER_LIST)">Cancel</a>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" (click)="onSubmit()" [disabled]="is_saving || !invoiceForm.valid"
                                            class="btn save-btn" id="submitButton">Save
                                            <div class="spinner-border spinner-border-sm" role="status" *ngIf="is_saving">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>