<section class="hall-ticket-list">
  <div class="page_inner">
    <div class="m-container">
      <div class="d-sm-flex justify-content-between align-items-center my-3">
        <h3 class="sub_title mb-0"> Hall Ticket List</h3>
        <div class="text-center btn_right">
          <button type="button" title="generate" class="btn btn-sm generate-btn" (click)="openModel(viewModal)">Generate</button>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="row">
            <div class="col-lg-12 datatable_cls">
              <div class="datatable-action-design">
                <div class="action_btn_in_out" (click)="isOpenByClick = !isOpenByClick">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="isOpenByClick" ngbTooltip="Close">
                    <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="!isOpenByClick" ngbTooltip="Open">
                    <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/>
                  </svg>
                </div>
                <div class="table-responsive">
                  <table datatable [dtOptions]="dtOptions" class="table table-hover table-bordered table-nowrap dataTable no-footer w-100" [ngClass]="{'table-action-col-active' : isOpenByClick}">
                      <thead class="thead-light">
                        <tr>
                          <th>Batch Name</th>
                          <th>Exam Type</th>
                          <th>Exam Name</th>
                          <th class="action-btn-sticky">Action</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="tbody?.length != 0">
                        <tr *ngFor="let item of tbody ;let i = index;" >
                            <td class="orange-text-color">{{ item?.batch }}</td>
                            <td>{{ item?.exam_type }}</td>
                            <td>{{ item?.exam_name ?? '-' }}</td>
                          <td class="action-btn-sticky text-center">
                            <div class="btn-group">
                              <a class="lt-btn-icon action-list" container="body" ngbTooltip="Student list" [routerLink]="[CommonService.setUrl(URLConstants.HALL_TICKET), item?.id]">
                                
                              </a>
                              <a class="lt-btn-icon action-edit" ngbTooltip="Edit" (click)="openModel(viewModal, item?.id)">
                                
                              </a>
                              <a  class="lt-btn-icon action-delete" (click)="deleteHallTicket(item)" ngbTooltip="Delete">
                                
                              </a>

                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="tbody?.length == 0">
                        <tr>
                          <td colspan="4" class="text-center no-data-available">No data Found.</td>
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

      
<ng-template #viewModal>
  <div class="modal-header" style="z-index: 0;">
      <h4 class="modal-title" id="modal-basic-title"> {{ editID ? 'Edit ' : 'Generate ' }} Hall Ticket</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModel()">
          <span aria-hidden="true">×</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="page_inner">
          <div class="card_body">
              <form action="" [formGroup]="hallticketGenerateForm">
                  <div class="row form_section">
                      <div class="col-md-4 form_group">
                          <label for="" class="form_label">Batch<span class="text-danger">*</span></label>
                          <ng-select #select [items]="batchList" [searchable]="true" formControlName="batch_id"  bindLabel="name" bindValue="id" placeholder="Please select batch" (change)="examTypeChange()">
                          </ng-select>
                          <div *ngIf="hallticketGenerateForm.controls['batch_id'].invalid && (hallticketGenerateForm.controls['batch_id'].dirty || hallticketGenerateForm.controls['batch_id'].touched)" class=" error text-danger mb-2">
                              <div *ngIf="hallticketGenerateForm.controls['batch_id'].errors?.['required']">Please select batch.</div>
                          </div>
                      </div>
                      <div class="col-md-4 form_group">
                          <label for="" class="form_label">Exam Type<span class="text-danger">*</span></label>
                          <ng-select #select [items]="examTypeList" (change)="examTypeChange()" [searchable]="true" formControlName="exam_type_id" bindLabel="name"
                              bindValue="id" placeholder="Please select exam type">
                          </ng-select>
                          <div *ngIf="hallticketGenerateForm.controls['exam_type_id'].invalid && (hallticketGenerateForm.controls['exam_type_id'].dirty || hallticketGenerateForm.controls['exam_type_id'].touched)" class=" error text-danger mb-2">
                              <div *ngIf="hallticketGenerateForm.controls['exam_type_id'].errors?.['required']">Please select exam type.</div>
                          </div>
                      </div>
                      <div class="col-md-4 form_group">
                          <label for="" class="form_label">Exam Name<span class="text-danger">*</span></label>
                          <ng-select #select [items]="examList" [searchable]="true" formControlName="exam_name_id" bindLabel="name"
                              bindValue="id" placeholder="Please select exam name">
                          </ng-select>
                          <div *ngIf="hallticketGenerateForm.controls['exam_name_id'].invalid && (hallticketGenerateForm.controls['exam_name_id'].dirty || hallticketGenerateForm.controls['exam_name_id'].touched)" class=" error text-danger mb-2">
                              <div *ngIf="hallticketGenerateForm.controls['exam_name_id'].errors?.['required']">Please select exam name.</div>
                          </div>
                      </div>

                      <div class="col-md-4 form_group">
                        <label for="" class="form_label">Venue</label>
                        <input type="text" placeholder="Please enter venue" class="form-control" formControlName="venue">
                      </div>
                      
                      <div class="col-md-4 form_group">
                        <label for="" class="form_label">Faculty Signature</label>
                        <ng-select #select [items]="facultyAndPrincipal?.faculties" [searchable]="true" formControlName="faculty_id" bindLabel="full_name"
                          bindValue="id" placeholder="Please select faculty for signature">
                        </ng-select>
                      </div>
                      
                      <div class="col-md-4 form_group">
                        <label for="" class="form_label">Principle Signature</label>
                        <ng-select #select [items]="facultyAndPrincipal?.principals" [searchable]="true" formControlName="principal_id" bindLabel="full_name"
                          bindValue="id" placeholder="Please select faculty for signature">
                        </ng-select>
                      </div>

                      <!-- <div class="col-md-1">
                          <button type="submit" class="px-3 w-100 btn"><i class="fa fa-plus" aria-hidden="true"></i> </button>
                          <button type="submit" class="px-3 w-100 btn"><i class="fa fa-minus" aria-hidden="true"></i> </button>
                      </div> -->
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <div class="col-auto">
          <button type="submit" class=" btn save-btn" (click)="generateHallTicket()" [disabled]="is_loading"> Save 
            <div class="spinner-border spinner-border-sm" role="status" *ngIf="is_loading">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
      </div>
      <div class="col-auto">
          <button type="submit" class=" btn cancel-btn" (click)="closeModel()">Cancel </button>
      </div>
  </div>
</ng-template>
