@import'../scss/variables';
// color & background
$black:#000;
$black-03:#030303;
$black-2c:#2c2d39;
$black-11:#111;
$dark-3f:#3f4047;
$dark-21:#212529;
$white:#fff;
$white-bg:#fff;
$white-f2:#f2f3f8;
$white-f1:#f1f1f1;
$white-77:rgb(255 255 255 / 77%);
$gray-3f:#3f4047;
$gray-57:#575962;
$gray-2c:#2c2d3a;
$gray-26:#262734;
$light-gray-dee:#dee2e6;
$lightgray-7b:#7b7e8a;
$lightgray-67:#676c7b;
$lightgray-a9:#a9a9aa;
$lightgray-bd:#bdc3d4;
$lightgray-ced:#ced4da;
$lightgray-f4:#f4f5f8;
$lightgray-eb:#ebecec;
$light-gray--90:rgb(255 255 255 / 90%);
$gray-d1:#ddd;
$gray-67:#6f727d;
$gray-90: #9091a3;
$light-grey-opac-colour: rgb(204 204 206 / 40%);
$purple-71:#716aca;
$purple-58:#5867dd;
$purple-27:#2739c1;
$purple-7c:#7c0acd;
$purple-75:#7509c1;
$light-purple:#7281a4;
$gray-96:#9699a2;
$blue-00:#00c5dc;
$blue-36:#36a3f7;
$blue-008:#008df9;
$edit-blue:#007bff;
$dark-blue:#2f5576;
$tabin-active:#00bae3;
$tabin-active-new:#454a74;
$purple-gradient:linear-gradient(135deg, #5867dd 30%, #36a3f7 100%);
$green-blue-gradient:linear-gradient(135deg, #34bfa3 30%, #36a3f7 100%);
$orange-blue-gradient:linear-gradient(135deg, #ffb822 30%, #36a3f7 100%);
$pink-blue-gradient:linear-gradient(135deg, #f4516c 30%, #36a3f7 100%);
$btn-gradient:linear-gradient(135deg, #36a3f7 30%, #00c5dc 100%);
$student-header-shadow:0px 1px 15px 1px rgb(81 77 92 / 50%);
$btn-gradient-hover:linear-gradient(135deg, #1996f6 30%, #00aabd 100%);
$transparent:#00000000;
$transparent:rgba(0, 0, 0, 0);
$success:#51A351;
$error:#BD362F;
$info-blue:#2F96B4;
$warning:#F89406;
$table-gary:rgb(204 204 206 / 32%);
$table-shadow: 0 0 6px #00000036;
$card-main-shadow: rgb(0 0 0 / 15%) 0 2px 8px;
$theme-blue-clr:#2b5876;
$entertext-bg:rgb(64 76 115 / 15%);
$placeholder:rgb(60 76 115 / 91%);
$blue-2b:#2b5876;
$input-inner-bg: rgba(64,76,115,.15);
$page_inner_before:#4c45765c;
$lightblue-7a:#7a8ca3;
$bluyish: #325376;


// border
$border-ce:#ccccce;
$border-light:#0000001a;
$border-cc:#ccc;

// Shadow
$shadow-8per:0px 1px 15px 1px rgb(81 77 92 / 8%);
$shadow-50per:0px 1px 15px 1px rgb(81 77 92 / 50%);
$shadow-20per:0px 0px 15px 1px rgb(81 77 92 / 20%);
$shadow--2per60:-2px -8px 41px -14px rgb(202 210 222 / 61%);
$shadow-25per:0px 1px 15px 1px rgb(81 77 92 / 25%);
$purple-focus:0px 5px 10px 2px rgb(152 22 244 / 36%);
$toaster-shadow:0 0 12px #999999;
$toaster-shadow-hover:0 0 12px #000000;
$right_btn-shadow: 0px 3px 3px rgb(0 0 0 / 50%);
$header-shadow: linear-gradient(to right top, #2b5876 17%, #4e4376 86%, #2b5876 100%);
$header-hover-shadow:linear-gradient(to left bottom, #2b5876, #386787, #447698, #5186a9, #5e96bb);
$header-menu-shadow:linear-gradient(to right top,#2b5876 17%,#4e4376 26%,#2b5876 100%);
$shadow-img:rgb(0 0 0 / 15%) 0 2px 8px;
$overall-gradient-bg:linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
$shadow-db-table:0 3px 6px #2b587630;
$dbtable--linear-shadow:linear-gradient(to right top,#2b5876 17%,#4e4376 86%,#2b5876 100%);
$eae:#eae8f1;
$ecf:#ecf0fa;
$darkest-bg:#131b2c;


// new theme
$primary:var(--primary-bg-color);
$dark-border:rgba(234,237,241,.2);
$border-dde:#dde2ef;
$dark-bg-color:#223046;
$dark-header:#121b2b;
$placeholder:#a2a1a1;
$input-border:#D0C9C0;
$primary01:var(--primary-1);
$primary02:var(--primary02);
$primary03:var(--primary-3);
$primary05:var(--primary05);
$primary06:var(--primary-6);
$primary07:var(--primary-7);
$primary08:var(--primary-8);
$primary-30:var(--primary-30);


// alert
$alert-success:#22c03c;
$alert-danger:#ee335e;
$alert-success03: rgba(34, 192, 60, 0.3);
$alert-danger03:rgba(238, 51, 94, 0.3);
