<div class="calender-event-section">
    <div class="calender-event-header">
        <h4>Events Calendar</h4>
    </div>
    <div class="calender-event-body">
        <div class="row g-2">
            <div class="col-lg-6 col-md-6">
                <a href="#" class="calender-exam-card">
                    <p>25 Jan, 2023</p>
                    <span>English-1 Exam</span>
                    <span>(STD-1)</span>
                </a>
            </div>
            <div class="col-lg-6 col-md-6">
                <a href="#" class="calender-exam-card calender-light-exam-card">
                    <p>25 Jan, 2023</p>
                    <span>English-1 Exam</span>
                    <span>(STD-1)</span>
                </a>
            </div>
        </div>
        <div class="calender-inner">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar></mat-calendar>
              </mat-card>
        </div>
    </div>
</div>