.card{
    .card_body{
        .form-label {
            font-size: 15px;
            font-weight: 400;
        }
    }
}

.modal-body{
    .card{
        margin: 0;
        box-shadow: none;
    }
}
img {
    width: 100%;
}

::ng-deep ngb-modal-backdrop {
    z-index: 1050 !important;
}


::ng-deep ngb-modal-window .modal-xxl {
    min-width: 90% !important;
}
