.new-dashboard {
    height: calc(100vh - 160px);
    overflow: auto !important;
}

body.horizontal .main-content.horizontal-content .container{
    max-width: 100% !important;
    padding: 0 24px !important;
}
body.horizontal .main-content.horizontal-content .container.dashboard-container{
    padding-right: 0 !important
}

.dashboard-tab{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 0.6px 0px #00000040;
}
.dashboard-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li{
        padding: 0 10px;
        list-style: none;
        &::before{
            content: "";
            background-color: #000;
            width: 1px;
            height: 20px;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
        &:last-child{
            &::before{
                display: none;
            }
        }
        a{
            text-decoration: none;
            color: #000000a6;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            transition: 0.4s;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img{
                max-width: 16px;
                margin-right: 6px;
            }
            .right-blue-icon{
                display: none;
            }
            &:hover{
                color: #052065;
                .right-blue-icon{
                    display: block;
                }
                .right-grey-icon{
                    display: none;
                }
            }
        }
    }
}

.dashboard-option-btn{
    text-align: right;
    margin: 20px 10px;
    .btn-primary{
        background-color: #DAF9E2;
        border: 1px solid #A8C9B1;
        color: #000;
        padding: 8px 16px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        border-radius: 4px;
        transition: 0.4s;
        box-shadow: none;
        outline: none;
        &:hover, &.active{
            background-color: #9acaa7;
            color: #fff;
        }
        
    }
}

.dashboard-gridster{
    background-color: transparent;
    // position: relative;
    // z-index: 0 !important;
    padding: 10px 0 !important;
    padding-top: 20px !important;
    // &.scrollVertical{
    //     overflow: hidden;
    // }
}
.card-grid-item{
    box-shadow: 0px 1px 3px 0px #00000040;
    background-color: #fff;
    border-radius: 6px; 
    overflow: unset !important;
    margin-left: 6px;
}
// .card-grid-item.gridster-item-moving{
//     z-index: 9 !important;
// }

@media(max-width: 992px){
    .new-dashboard{
        height: 4600px;
    }
}
@media(max-width: 992px){
    .card-grid-item
    {
        height: auto !important;
    }
    .dashboard-list li a{
        font-size: 14px;
        line-height: 20px;
    }
   
}