<section class="performace_category">
    <div class="page_inner">
        <div class="m-container">
            <div class="d-flex justify-content-between align-items-center my-3">
                <h3 class="sub_title mb-0">Performance Category</h3>
                <div class="btn_right">
                    <a [routerLink]="setUrl(URLConstants.PERFORMANCE_CRITERIA)"
                        class="mx-2 active btn btn-focus m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">Performance
                        Criteria</a>
                </div>
            </div>
            <div class="">
                <div class="card"  *ngIf="CommonService.hasPermission('student_student_performance','has_create')">
                    <div class="row global_form table_top align-items-center">
                        <div class="col-12 col-md-8">
                            <div class="row">
                                <div class="col-12 col-sm-6 form_section">
                                    <div class="form_group">
                                        <label class="col-md-12 form_label">Category name<span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-12">
                                            <input type="text" name="room_name" formcontrolname="room_name"
                                                placeholder="Category name" [(ngModel)]="formData.name"
                                                class="form-control">
                                        </div>
                                        <div *ngIf="submitted && formData.name == null || formData.name == ''"
                                            class="text-danger px-20"> Please enter performance category name. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-12 col-sm-6 form_section">
                                <button type="submit" class="btn save-btn" (click)="submit()">Save</button>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
                    <div class="card">
                        <div class="row global_form">
                            <div class="col-lg-12 datatable_cls form_section">
                                <div class="datatable-action-design">
                                    <div class="action_btn_in_out" (click)="isOpenByClick = !isOpenByClick">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="isOpenByClick" ngbTooltip="Close">
                                          <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="!isOpenByClick" ngbTooltip="Open">
                                          <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/>
                                        </svg>
                                    </div>
                                    <div class="table-responsive form_group">
                                        <table datatable [dtOptions]="dtOptions"
                                            class="table table-hover table-nowrap table-bordered display dataTable" style="width:100%">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Category Name</th>
                                                    <th class="action-btn-sticky">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of tbody ;let i = index;">
                                                    <td>{{item.name}}</td>
                                                    <td class="action-btn-sticky text-center">
                                                        <div  class="btn-group" [ngClass]="item.is_default == 1 ? 'd-none' : ''" role="group">
                                                            <button *ngIf="CommonService.hasPermission('student_student_performance','has_edit')" class="lt-btn-icon action-edit" title="Edit"
                                                                (click)="open(mymodal,item.id)">
                                                                <i class="fa fa-pencil-alt"></i>
                                                            </button>
                                                            <button *ngIf="CommonService.hasPermission('student_student_performance','has_delete')" type="button" title="Delete"
                                                                class="lt-btn-icon action-delete"
                                                                (click)="delete(item.id)">
                                                                <i class="fa fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="tbody?.length == 0">
                                                <tr>
                                                    <td colspan="2" class="text-center no-data-available">No data</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ng-template #mymodal let-modal>
                                            <div class="modal-header" style="z-index: 0;">
                                                <h4 class="modal-title" id="modal-basic-title">Update Performance Category </h4>
                                                <button type="button" class="close" aria-label="Close"
                                                    (click)="modal.dismiss('Cross click')">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="z-index: 0;">
    
                                                <div class="page_inner">
                                                    <div class="">
                                                        <div class="">
                                                            <div class="row">
                                                                <div class="col-12  form_section">
                                                                    <div class="form_group">
                                                                        <label class="col-md-12 form_label">Category name<span
                                                                                class="text-danger">*</span></label>
                                                                        <div class="col-md-12">
                                                                            <input type="text" name="Category"
                                                                                placeholder="Category name"
                                                                                [(ngModel)]="updateFormData.name"
                                                                                class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
    
                                            </div>
                                            <div class="modal-footer" style="z-index: 0;">
                                                <div class="col-md-2">
                                                    <button *ngIf="CommonService.hasPermission('student_student_performance','has_update')" type="submit" class="w-100 btn btn-success"
                                                        (click)="modal.close('update')"> Save </button>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="submit" class="w-100 btn btn-success"
                                                        (click)="modal.close('cancel')">
                                                        Cancel </button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<style>
    .modal-backdrop.show {
        z-index: 1040 !important;
    }
</style>