<section class="leave_form">
    <div class="page_inner">
        <div class="m-container">
            <div class="d-flex justify-content-between align-items-center my-3">
                <h3 class="sub_title mb-0">Import Emloyees via .xls file</h3>
                <div class="btn_right">
                    <button class="btn generate-btn" (click)="downloadSampleFile()" target="_blank" [disabled]="isDownloadLoading">Download Sample File
                        <div class="spinner-border spinner-border-sm" role="status" *ngIf="isDownloadLoading">
                            <span class="visually-hidden">Loading..."</span>
                        </div>
                    </button>
                    <a class="btn ms-2 list-btn" [routerLink]="CommonService.setUrl(URLConstants.USER_LIST)">Employee List</a>
                </div>
            </div>
            <div class="card">
                <form [formGroup]="importUserForm" class="form_section" method="post">
                    <div class="row">
                        <div class="col-md-3 form_group">
                            <label class=" form_label">User Type<span class="text-danger">*</span></label>
                            <app-single-select controlName="user_type" [dropDownArray]="userTypeList" placeholder="Select User Type"></app-single-select>
                        </div>
                        <div class="col-md-3 form_group">
                            <label class="form_label">Role<span class="text-danger">*</span></label>
                            <app-single-select controlName="user_role" [dropDownArray]="userRoleList" placeholder="Select Role"></app-single-select>
                        </div>
                        <div class="col-md-3 form_group">
                            <label class="form_label">Browse File<span class="text-danger">*</span></label>
                            <app-input  (input)="fileChange($event)" type="file" controlName="file" accept=".xls, .xlsx"></app-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <button class="btn save-btn" type="submit" [disabled]="importLoading" (click)="importExcel()">Import
                                <div class="spinner-border spinner-border-sm" role="status" *ngIf="importLoading">
                                    <span class="visually-hidden">Loading..."</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="col-12" *ngIf="return_result" id="">
                    <div *ngIf="this.failed_rows.length != 0">
                        <h6>Please check error in Below rows. And upload those rows again.</h6>
                        <table class="table" >
                            <thead class="thead-dark">
                                <tr>
                                    <th>Row Number</th>
                                    <th>Errors</th>
                                </tr>                                        
                            </thead> 
                            <tbody>
                                <tr *ngFor="let item of failed_rows ;let i = index;">
                                    <td>
                                        {{item.row_number}}
                                    </td>
                                    <td>
                                        {{item.row_errors[0]}}
                                    </td>
                                </tr>
                            </tbody>                                   
                    </table>
                    </div>
                    <h6 *ngIf="this.failed_rows.length == 0"> All data imported properly</h6>
                </div>
            </div>
        </div>
    </div>
</section>
