<div class="frmSearch" (mouseout)="focusOnList=false">
    <div  class="input-group">
        <input type="text" class="form-control" (blur)="searching=false" (focus)="searching = true" [(ngModel)]="searchBar" (keyup)="onSearch()"  placeholder="Search Student" [disabled]="isDisabled">
        <i class="fa fa-times input-group-text pt-2" (click)="!isDisabled ? clear() : ''"></i>
    </div>
    <div class="w-100" id="suggesstion-box" *ngIf="searching || focusOnList" (mouseover)="focusOnList=true" (focus)="focusOnList=true">
        <ng-container >
            <div class="media">                           
                <div class="media-body">
                    <ul class="list-group scrollDropDown">
                        <li *ngIf="searchBar && searching && students?.length === 0" class="list-group-item">No data Found</li>
                        <li class="list-group-item {{item.status == 0 ? 'inactive' : ''}}"  *ngFor="let item of students" (click)="onSelect(item)">
                            {{item?.full_name}} - class: {{item?.batch[0]?.class?.name}} - GR No.: {{ item?.studentId }}
                        </li>
                    </ul>                                
                </div>
            </div>
        </ng-container>
    </div>
</div>     