<!-- main-header -->
<div class="main-header side-header stickyy sticky nav nav-item">
  <div class="container-fluid main-container ">
    <div class="main-header-left">
      <div class="responsive-logo">

        <!-- <a href="{{setsymfonyUrl('BranchList')}}" class="head_logo dark">
          <img src="{{branch_detail?.path ? branch_detail.image : '/public/upload/branchImage/Class_care.png'}}"
            class="main-logo" alt="logo">
          <h6>{{branch_detail?.branchName}}</h6>
        </a> -->

        <div ngbDropdown class="dropdown main-profile-menu nav nav-item nav-link p-0 branch_dropdown"
          >
          <a href="javascript:void(0)" class="head_logo">
            <!-- <img src="{{branch_detail?.path ? branch_detail.image : '/public/upload/branchImage/Class_care.png'}}"
              class="main-logo" alt="logo"> -->
            <h6 ngbDropdownToggle>Select Branch Name</h6>
          </a>
          <div ngbDropdownMenu>
            <!-- <a *ngFor="let item of branchList" class="dropdown-item"
              (click)="handleBranchChange(item.id)">{{item.branchName}}</a> -->
            <a *ngFor="let item of branchList" class="dropdown-item"
              [routerLink]="setUrl(URLConstants.DASHBOARD,item.id)">{{item.branchName}}</a>
          </div>
        </div>
      </div>
      <!-- <div class="app-sidebar__toggle" data-bs-toggle="sidebar">
        <a class="open-toggle" href="javascript:void(0);" (click)="toggleSidebarOpen()"><i
            class="header-icon fe fe-align-left"></i></a>
        <a class="close-toggle" href="javascript:void(0);" (click)="toggleSidebarClose()"><i
            class="header-icon fe fe-align-left"></i></a>
      </div> -->

      <div class="frmSearch" (mouseout)="focusOnList=false">
        <!-- <input type="text" class="studentSearch form-control ms-2" (blur)="searching=false" (focus)="searching = true"
          [(ngModel)]="searchBar" (keyup)="onSearch()" placeholder="Search"> -->
        <div class="" id="suggesstion-box" *ngIf="searching || focusOnList" (mouseover)="focusOnList=true"
          (focus)="focusOnList=true">
          <ng-container>
            <div class="media">
              <div class="media-body">
                <ul class="list-group scrollDropDown">
                  <li class="list-group-item" *ngFor="let item of student ;let i = index;"><a
                      [href]="[setsymfonyUrlForStudent('students/profile',item?.id)]">{{item?.full_name}} - class:
                      {{item?.batch[0]?.class?.name}} - GR No.: {{ item?.studentId }}</a></li>
                </ul>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="main-header-right">
      <!-- <div class="sms-credits me-2 text-nowrap" *ngIf="sMSRemain < 1000">
        <span>You have {{sMSRemain}} SMS credits remaining.</span>
      </div> -->

      <div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <ul class="nav nav-item  navbar-nav-right ms-auto">
            <!-- <li class="dropdown nav-item main-layout">
              <a class="new nav-link theme-layout nav-link-bg layout-setting" (click)="toggleTheme()">
                <span class="dark-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path
                      d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                  </svg></span>
                <span class="light-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path
                      d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                  </svg></span>
              </a>
            </li> -->
            <li class="nav-link search-icon d-lg-none d-block">
              <form class="navbar-form" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                    <button type="reset" class="btn btn-default">
                      <i class="fas fa-times"></i>
                    </button>
                    <button type="submit" class="btn btn-default nav-link resp-btn">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" class="header-icon-svgs" viewBox="0 0 24 24"
                        width="24px" fill="#000000">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                          d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                      </svg>
                    </button>
                  </span>
                </div>
              </form>
            </li>
            <!-- <li class="nav-item full-screen fullscreen-button">
              <a class="new nav-link full-screen-link" href="javascript:;" appFullscreen>
                <i class="fe fe-maximize"></i>
              </a>
            </li> -->
            <div ngbDropdown class="main-profile-menu nav nav-item nav-link">
              <!-- <a class="profile-user d-flex" href="javascript:;" ngbDropdownToggle><img alt=""
                  src="{{getProfile()}}"></a> -->
              <a class="profile-user d-flex" href="javascript:;" ngbDropdownToggle><img alt=""
                [src]="user?.image ? user?.image : user?.gender == 'f' ? 'assets/images/professor-female.png' : 'assets/images/professor-male.png' "></a>
              <div ngbDropdownMenu>
                <div class="main-header-profile bg-primary p-3">
                  <div class="d-flex wd-100p">
                    <div class="ms-3 my-auto">
                      <h6>{{user?.full_name}}</h6><span>{{user?.email}}</span>
                    </div>
                  </div>
                </div>
                <!-- <a class="dropdown-item" href="{{setsymfonyUrl('admin/profile')}}"><i
                    class="bx bx-user-circle"></i>Profile</a> -->
                <a class="dropdown-item" href="#." [routerLink]="setUserUrl(URLConstants.EDIT_USER_PROFILE)"><i class="bx bx-user-circle"></i>Edit Profile</a>

                <!-- <a class="dropdown-item" href="{{setsymfonyUrl('admin/change_password')}}"><i class="bx bx-cog"></i>
                  Change Password</a> -->
                <!-- <a class="dropdown-item" href="{{setsymfonyUrl('common/smsaccount')}}"><i class="bx bxs-inbox"></i>Plan
                  Details</a> -->
                <a *ngIf="is_admin" class="dropdown-item" href="#." [routerLink]="setUserUrl(URLConstants.PLAN_DETAIL)"><i class="bx bxs-inbox"></i>Plan Details</a>

                <a *ngIf="is_admin" class="dropdown-item" href="{{setsymfonyUrl('admin/classes_overview')}}"><i
                    class="bx bx-envelope"></i>Classes Overview</a>
                <a *ngIf="this.roles.includes('ROLE_ADMIN')" class="dropdown-item" href="javascript:void(0)"
                  (click)="userList()"><i class="bx bx-envelope"></i>User List</a>
                <!-- <a class="dropdown-item" href="{{setsymfonyUrl('admin/notice_view')}}"><i
                    class="bx bx-slider-alt"></i>Notice</a> -->
                <a class="dropdown-item"  href="#." [routerLink]="setUserUrl(URLConstants.USER_BRANCH_LIST)"><i USER_BRANCH_LIST
                    class="bx bx-slider-alt"></i>Branches</a>
                <a *ngIf="is_admin" class="dropdown-item" href="javascript:void(0)" (click)="redirectToWebBuilder()"><i
                    class="bx bx-slider-alt"></i>Web Builder</a>
                <a class="dropdown-item" href="{{setsymfonyUrl('logout')}}" (click)="clear()"><i class="bx bx-log-out"></i> Sign Out</a>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div class="d-flex">
        <a (click)="toggleSwitcher()" class="demo-icon new nav-link" href="javascript:void(0);">
          <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /main-header -->
<!-- <div *ngIf="is_student">
  <div class="main-header side-header stickyy sticky nav nav-item">
    <div class="container-fluid main-container ">
      <div class="main-header-left ">
        <label class="lbl_id">User Name: <span>{{getStudent('studentusername')}}</span></label>
      </div>
      <div class="main-header-right">
        <div class="row_div row align-items-center">
          <div class="col">
            <ul class="student_settings d-flex mb-0">
              <li><a [href]="setsymfonyUrl('student/changePassword')" class="mx-3 p-0">Change Password</a></li>
              <li><a [href]="setsymfonyUrl('student/studentlogout')" class="mx-1 p-0">Log out</a></li>
            </ul>
          </div>
        </div>
        <div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="nav nav-item  navbar-nav-right ms-auto">
              <li class="dropdown nav-item main-layout">
                <a class="new nav-link theme-layout nav-link-bg layout-setting" appToggleTheme>
                  <span class="dark-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" width="24"
                      height="24" viewBox="0 0 24 24">
                      <path
                        d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                    </svg></span>
                  <span class="light-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" width="24"
                      height="24" viewBox="0 0 24 24">
                      <path
                        d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                    </svg></span>
                </a>
              </li>
              <li class="nav-link search-icon d-lg-none d-block">
                <form class="navbar-form" role="search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="reset" class="btn btn-default">
                        <i class="fas fa-times"></i>
                      </button>
                      <button type="submit" class="btn btn-default nav-link resp-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" class="header-icon-svgs"
                          viewBox="0 0 24 24" width="24px" fill="#000000">
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                        </svg>
                      </button>
                    </span>
                  </div>
                </form>
              </li>
              <li class="nav-item full-screen fullscreen-button">
                <a class="new nav-link full-screen-link" href="javascript:;" appFullscreen>
                  <i class="fe fe-maximize"></i>
                </a>
              </li>
              <div ngbDropdown class="main-profile-menu nav nav-item nav-link">
                <a class="profile-user d-flex" href="javascript:;" ngbDropdownToggle><img alt=""
                    src="{{getProfile()}}"></a>
                <div ngbDropdownMenu>
                  <div class="main-header-profile bg-primary p-3">
                    <div class="d-flex wd-100p">
                      <div class="ms-3 my-auto">
                        <h6>{{user?.full_name}}</h6><span>{{user?.email}}</span>
                      </div>
                    </div>
                  </div>
                  <a class="dropdown-item" href="{{setsymfonyUrl('student/showProfile')}}"><i
                      class="bx bx-user-circle"></i>Profile</a>
                  <a class="dropdown-item" href="{{setsymfonyUrl('student/studentlogout')}}"><i
                      class="bx bx-log-out"></i> Sign Out</a>
                </div>
              </div>
            </ul>
          </div>
        </div>
        <div class="d-flex">
          <a (click)="toggleSwitcher()" class="demo-icon new nav-link" href="javascript:void(0);">
            <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <line x1="3" y1="12" x2="21" y2="12"></line>
              <line x1="3" y1="6" x2="21" y2="6"></line>
              <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
