<section class="batch-transfer-list">
  <div class="page_inner">
      <div class="m-container">
          <div class="d-flex justify-content-between align-items-center my-3">
              <h3 class="sub_title mb-0">Batch Transfer List</h3>
              <button class="button" [routerLink]="batchService.setUrl(URLConstants.BATCH_TRANSFER)" type="button" class="btn transfer-btn px-2 d-flex align-items-center">
                Batch Transfer
              </button>
          </div>

          <div class="report_filter card">
              <div class="row">
                  <div class="col-lg-12 datatable_cls">
                    <div class="datatable-action-design">
                        <div class="action_btn_in_out" (click)="isOpenByClick = !isOpenByClick">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="isOpenByClick" ngbTooltip="Close">
                            <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/>
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="!isOpenByClick" ngbTooltip="Open">
                            <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/>
                          </svg>
                        </div>
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptionsForTransferList" id="myTable"
                                class="table table-hover table-nowrap display dataTable table-bordered no-footer"
                                style="width:100%" [ngClass]="{'table-action-col-active' : isOpenByClick}">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Sr no.</th>
                                        <th>From Batch</th>
                                        <th>To Batch</th>
                                        <th>Total Student</th>
                                        <th>Transfered Student</th>
                                        <th>Status</th>
                                        <th>Time</th>
                                        <th class="action-btn-sticky">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of transferStudentList ;let i = index;">
                                        <td>{{i + 1}}</td>
                                        <td>{{item.from_batch.name ?? "-"}}</td>
                                        <td>{{item.to_batch.name ?? "-"}}</td>
                                        <td>{{item.total_students ?? "-"}}</td>
                                        <td>{{item.transfered_students ?? "-"}}</td>
                                        <td>{{item.status_label ?? "-"}}</td>
                                        <td>{{item.created_at | date: dateFormateService.getDateTimeFormat() || "-"}}</td>
                                        <td class="action-btn-sticky text-center">
                                            <div class="btn-group" role="group" (click)="goToDetailsPage(item.id)">
                                            <a class="lt-btn-icon btn-primary action-view"></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="isTransferStudent">
                                    <tr>
                                        <td colspan="5">
                                            <div class="d-flex justify-content-center">
                                                <div class="spinner-border spinner-border-sm ms-2" role="status" >
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="transferStudentList.length === 0">
                                    <tr>
                                        <td colspan="5">
                                            <div class="d-flex justify-content-center">
                                                No Record Found
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
