<section class="leave_form">
    <div class="page_inner">
        <div class="m-container">
			<div class="d-flex justify-content-between align-items-center my-3">
				<h3 class="sub_title mb-0">Employee Management</h3>
				<div class="btn_right">
					<a *ngIf="CommonService.hasPermission('faculty_faculty', 'has_download')" class="btn generate-btn me-2" (click)="downloadExcel('excel')">Download Attendance IDs</a> 
					<a *ngIf="CommonService.hasPermission('faculty_faculty', 'has_download')" class="btn export-btn me-2" href="#."  [routerLink]="setUrl(URLConstants.EXPORT_FACULTY)">Export User</a> 
                	<a *ngIf="CommonService.hasPermission('faculty_faculty', 'has_create')" class="btn add-btn me-2" href="#."  [routerLink]="setUrl(URLConstants.ADD_USER)">Add New User</a>
					<a *ngIf="commonService.hasPermission('faculty_faculty', 'has_import')" [routerLink]="setUrl(URLConstants.IMPORT_USERS)" class="btn import-btn ">import Employee</a>
				</div>
			</div>
            <div class="card">
                <div class="card_body">
                    <div class="row">
						<!-- <div class="col-md-3 form_group">                                        
							<label class=" form_label">Select User Type</label>												
							<div class="">											
								<ng-select #select [items]="userType" [searchable]="true" [(ngModel)]="params.userType" (change)="userTypeChange()" 
									bindLabel="name"  bindValue="id"
									placeholder="please select">
								</ng-select>
							</div>                                        
						</div> -->
						<div class="col-md-3 form_group">                                        
							<label class="form_label">Select User Type</label>												
							<div class="">											
								<ng-select #select [items]="roles" [searchable]="true" [(ngModel)]="params.role" (change)="userTypeChange()" 
									bindLabel="name"  bindValue="id"
									placeholder="please select">
								</ng-select>
							</div>                                        
						</div>
						<div class="col-md-3 form_group">                                        
							<label class=" form_label">Select Batch</label>												
							<div class="">											
								<ng-select #select [items]="batches" [searchable]="true" [(ngModel)]="params.batch" (change)="handleBatchChange()" 
									bindLabel="name"  bindValue="id"
									placeholder="please select">
								</ng-select>
							</div>                                        
						</div>
						<div class="col-md-3 form_group">                                        
							<label class=" form_label">Select Subject</label>												
							<div class="">											
								<ng-select #select [items]="subjects" [searchable]="true" [(ngModel)]="params.subject" (change)="userTypeChange()" 
									bindLabel="name"  bindValue="id"
									placeholder="please select">
								</ng-select>
							</div>                                        
						</div>
                        <div class="col-lg-12">
							<div class="datatable-action-design">
								<div class="action_btn_in_out" (click)="isOpenByClick = !isOpenByClick">
								  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="isOpenByClick" ngbTooltip="Close">
									<path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/>
								  </svg>
								  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="!isOpenByClick" ngbTooltip="Open">
									<path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/>
								  </svg>
								</div>
								<div class="table-responsive">
									<table datatable [dtOptions]="dtOptions" class="table table-hover table-nowrap table-bordered " [ngClass]="{'table-action-col-active' : isOpenByClick}">
										<thead class="thead-light">
											<tr>
												<th>Unique ID</th>
												<th>Full Name</th>
												<th>Role</th>
												<th>Email</th>
												<th>Phone No</th>
												<!-- <th>Assigned Batches</th> -->
												<!-- <th>Batches</th> -->
												<!-- <th>Assign</th> -->
												<th class="action-btn-sticky">Action</th>
											</tr>
										</thead>
										<tbody *ngIf="tbody?.length != 0">
											<tr *ngFor="let item of tbody ;let i = index;" >	
												<td class="orange-text-color">{{ item.emp_no }}</td>			
												<td class="name_hover">
													<a [routerLink]="[setUrl(URLConstants.USER_PROFILE), item.id]">{{item.full_name}}</a>
													<!-- <p class="m-0">{{item.roles}}</p> -->
												</td>
												<td>
													<p class="m-0">{{item.roles}}</p>
												</td>            
												<td>
													<div>{{item.email}}</div>
												</td>
												<td class="green-text-color">
													<p class="m-0">{{item.phone_number ?? ''}}</p>
												</td>            
												<!-- <td>{{item.roles}}</td> -->
												<!-- <td class="white-space">{{user_batches(item.user_batch)}}</td> -->
												<!-- <td><a class="btn grey_btn" *ngIf="item.roles.includes('Faculty')" [routerLink]="[setUrl(URLConstants.ASSIGN_SUBJECT_USER),item.id]" href='#'>Assign Subject</a></td>             -->
												<td class="action-btn-sticky text-center">   
													<div class="btn-group" role="group">
														<a *ngIf="CommonService.hasPermission('faculty_faculty', 'has_edit')" class="lt-btn-icon action-edit" container="body" ngbTooltip="Edit" [routerLink]="[setUrl(URLConstants.EDIT_USER),item.id]" href='#'></a>
														<a class="lt-btn-icon action-assign-subject mx-1 nowrap" *ngIf="(item.user_types != null && (item.user_types.user_type != 4 && item.user_types.user_type != 5)) && CommonService.hasPermission('faculty_assign_subjects', 'has_access')" [routerLink]="[setUrl(URLConstants.ASSIGN_SUBJECT_USER),item.id]" container="body" ngbTooltip="Assign Subject" href='#'></a>
														<a class="lt-btn-icon action-assign-batch mx-1 nowrap" *ngIf="(item.user_types != null && (item.user_types.user_type != 4 && item.user_types.user_type != 5))" [routerLink]="[setUrl(URLConstants.ASSIGN_BATCH),item.id]" container="body" ngbTooltip="Assign Batches" href='#'></a>
														<button *ngIf="CommonService.hasPermission('faculty_faculty', 'has_delete')" class="lt-btn-icon action-delete" container="body" ngbTooltip="Delete" (click)="delete(item.id)"></button>
													</div>
													
												</td>                                             
											</tr>
										</tbody>
										<tbody *ngIf="tbody?.length == 0">
											<tr>
											<td colspan="5" class="text-center no-data-available">No data</td>
											</tr>
										</tbody>									
									</table>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>