<section class="leave_form">
  <div class="page_inner">
    <div class="m-container">
      <div class="d-flex justify-content-between align-items-center my-3">
        <h3 class="sub_title mb-0">Add Leave form</h3>
        <div class="btn_right">
          <a class="btn list-btn" href="#."
            [routerLink]="setUrl(URLConstants.LEAVES_LIST)">Leave List</a>
        </div>
      </div>
      <div class="">
        <div class="card_body">
          <form [formGroup]="leavecreateform " class="form_section">
            <div class="card">
              <div class="row">
                <div class="col-md-3 form_group">
                  <label class=" form_label">Leave For</label>
                  <div class="">
                    <div>
                      <div id="student_rightEducation">
                        <div class="radio" *ngIf="CommonService.hasPermission('leave_student_leave', 'has_create')">
                          <label class="px-0 m-radio required" for="student_rightEducation_0" aria-required="true">
                            <input type="radio" id="student_rightEducation_0" name="user_type"
                              formControlName="user_type" (click)="updateDropdown(STUDENT)"
                              [(ngModel)]="from_user_type" [value]="1" aria-required="true">Student<span></span>
                          </label>
                        </div>
                        <div class="radio" *ngIf="CommonService.hasPermission('leave_faculty_leave', 'has_create')">
                          <label class="px-0 m-radio required" for="student_rightEducation_1" aria-required="true">
                            <input type="radio" id="student_rightEducation_1" name="user_type"
                              (click)="updateDropdown(FACULTY)" formControlName="user_type"
                              [(ngModel)]="from_user_type" [value]="2" aria-required="true">
                            Employee <span></span>
                          </label>
                        </div>
                        <div class="radio">
                          <label class="px-0 m-radio required" for="student_rightEducation_3" aria-required="true">
                            <input type="radio" id="student_rightEducation_3" name="user_type"
                              (click)="updateDropdown(3)" formControlName="user_type"
                              [(ngModel)]="from_user_type" [value]="3" aria-required="true">
                            My Leave <span></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="leavecreateform.controls['user_type'].invalid && (leavecreateform.controls['user_type'].dirty || leavecreateform.controls['user_type'].untouched)"
                      class="col-lg-12 error text-danger mb-2">
                      <div *ngIf="leavecreateform.controls['user_type'].errors?.['required']">Please select the
                        options</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 form_group">
                  <label class=" form_label">Leave Type<span class="text-danger">*</span></label>
                  <div>
                    <ng-select #select7 [items]="student" [searchable]="false" [(ngModel)]="selectedStudent"
                      bindLabel="name" formControlName="leave_type" bindValue="name" placeholder="please select">
                      <ng-template ng-header-tmp>
                        <input type="text" (input)="select7.filter($any($event.target).value)" />
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-3 form_group">
                  <label class=" form_label">Duration</label>
                  <div class="">
                    <div>
                      <div id="leave_duration">
                        <div class="radio">
                          <label class="px-0 mb-0 m-radio required" for="full_day" aria-required="true">
                            <input type="radio" id="full_day" formControlName="duration" value="1" aria-required="true">
                            Full Day<span></span>
                          </label>
                        </div>
                        <!-- <div class="radio">
                          <label class="px-0 mb-0 m-radio required" for="first_half_day" aria-required="true">
                            <input type="radio" id="first_half_day" formControlName="duration" value="2" aria-required="true">
                            First Half<span></span>
                          </label>
                        </div>
                        <div class="radio">
                          <label class="px-0 mb-0 m-radio required" for="second_half_day" aria-required="true">
                            <input type="radio" id="second_half_day" formControlName="duration" value="3" aria-required="true">
                            Second Half<span></span>
                          </label>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 form_group" *ngIf="from_user_type == 2 || from_user_type == 1">
                  <label class="px-0 form_label col-md-12">Select Student/Employee<span
                      class="text-danger">*</span></label>
                  <div>
                    <ng-select #select [items]="users" (change)="changeFn(selectedFaculty)" [searchable]="false" [(ngModel)]="selectedFaculty" name="sender_id" bindLabel="name" bindValue="id" [virtualScroll]="true" (scroll)="onScroll($event)" formControlName="sender_id" placeholder="please select" required>
                      <ng-template ng-header-tmp>
                        <input (onclick)="changeFn(selectedFaculty)" class="form-control" type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" (input)="searchFilter()" />
                      </ng-template>
                    </ng-select>
                  </div>
                  <div
                    *ngIf="leavecreateform.controls['sender_id'].invalid && (leavecreateform.controls['sender_id'].dirty || leavecreateform.controls['sender_id'].untouched)"
                    class="col-lg-12 error text-danger mb-2">
                    <div *ngIf="leavecreateform.controls['sender_id'].errors?.['required']">Please enter the select
                      option</div>
                  </div>
                </div>
                <div class="col-md-3 form_group">
                  <label class=" form_label">Start Date<span class="text-danger">*</span></label>
                  <app-mat-date-picker controlName="start_date" [isSundayDisable]="true" [maxDate]="leavecreateform.controls['end_date'].value"></app-mat-date-picker>

                  <!-- <div>
                    <input type="date" id="start_date" formControlName="start_date" name="start_date"
                      class="form-control" placeholder="start date"
                      [ngClass]="{ 'is-invalid': submitted && leavecreateform.controls['start_date'].errors}">
                  </div>
                  <div *ngIf="submitted && leavecreateform.controls['start_date'].invalid" class="text-danger">
                    Please enter valid date. </div>
                  <div *ngIf="submitted && sd_sunday_alert" class="text-danger"> You can't select sunday. Please
                    select other date. </div> -->
                  <!-- <div *ngIf="leavecreateform.controls['start_date'].invalid && (leavecreateform.controls['start_date'].dirty || leavecreateform.controls['start_date'].touched)" class="col-lg-12 error text-danger mb-2">
                                            <div *ngIf="leavecreateform.controls['start_date'].errors?.['required']">please select date</div>
                                        </div>                                             -->
                  <!-- <div *ngIf="leavecreateform.controls['start_date'].touched">
                    <small *ngIf="leavecreateform.controls['start_date'].errors?.['required']"
                      class="text-danger">Required</small>
                    <small *ngIf="invaineFrom" class="text-danger">
                      Select a date Over today</small>
                  </div> -->
                </div>
                <div class="col-md-3 form_group">
                  <label class=" form_label">End Date<span class="text-danger">*</span></label>
                  <app-mat-date-picker controlName="end_date" [isSundayDisable]="true" [minDate]="leavecreateform.controls['start_date'].value"></app-mat-date-picker>

                  <!-- <div>
                    <input type="date" id="end_date" formControlName="end_date" name="end_date"
                      [ngClass]="{ 'is-invalid': submitted && leavecreateform.controls['end_date'].errors}"
                      class="form-control" required>
                  </div>
                  <div *ngIf="submitted && leavecreateform.controls['end_date'].invalid" class="text-danger"> Please
                    enter valid date. </div>
                  <div *ngIf="submitted && ed_sunday_alert" class="text-danger"> You can't select sunday. Please
                    select other date. </div>
                  <small *ngIf="dates" class="text-danger">
                    End Date should be grater than start Date</small> -->
                </div>
                <div class="col-md-3 form_group">
                  <label class=" form_label">Reason for leave<span
                      class="text-danger">*</span></label>
                  <div class="">
                    <div>
                      <textarea class="form-control" name="detail" id="detail" formControlName="detail"
                        placeholder="Enter your address" required></textarea>
                    </div>
                    <div *ngIf="submitted && leavecreateform.controls['detail'].invalid" class="text-danger"> Please
                      enter reason for leave. </div>
                  </div>
                </div>
                <div class="col-md-3 form_group">
                  <label class=" form_label">Attachment</label>
                  <div>
                    <input type="file" id="attachment" formControlName="attachment" name="attachment" (change)="onFileSelected($event)"
                      class="form-control">
                  </div>
                </div>
                <div class="row w-100 ">
                  <div class="col-auto">
                    <a class="btn w-100 clear-btn" href="#" [routerLink]="setUrl(URLConstants.LEAVES_LIST)">Cancel</a>
                  </div>
                  <div class="col-auto">
                    <button type=" submit" (click)="onSubmit()" [disabled]="!leavecreateform.valid"
                      class="btn w-100 save-btn" id="submitButton">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
