<section class="add_lecture_timings fees-dis">
    <div class="page_inner">
        <div class="m-container">
            <h2 class="page_title"></h2>
            <div class="">
                <div class="d-flex justify-content-between align-items-center my-3">
                    <h3 class="sub_title mb-0">Fees</h3>
                     <!-- <div class="btn_right">
                        <a href="#" class="active btn btn-focus m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">Add Refund Type</a>
                    </div>    -->  
                </div>
                <div class="card_body card">                        
                    <ul class="nav nav-tabs nav_border-section mb-0">
                        <li class="nav-item">
                            <a
                            class="nav-link" routerLinkActive="active" [href]="setsymfonyUrl('feesView')" data-toggle="tab">View Remaining Fees</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a [href]="setsymfonyUrl('students/admission')" 
                            class="nav-link" routerLinkActive="active" data-toggle="tab">Academics</a> 
                        </li> -->                     
                        <li class="nav-item">
                            <a
                            class="nav-link"  routerLinkActive="active" [href]="setsymfonyUrl('feesCollection')" data-toggle="tab">Fees Collection</a>
                        </li>
                        <li class="nav-item">
                            <a
                            class="nav-link"  routerLinkActive="active" [href]="setsymfonyUrl('viewAllFees')" data-toggle="tab">View All Fees</a>
                        </li>
                        <li class="nav-item">                                            
                            <a 
                            class="nav-link"  routerLinkActive="active" [href]="setsymfonyUrl('feesReport')" data-toggle="tab">Fees Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  routerLinkActive="active" [href]="setsymfonyUrl('viewfeesReceiptNo')" data-toggle="tab">Fees Receipt</a>
                        </li>
                        <li class="nav-item">
                            <a 
                            class="nav-link active" routerLinkActive="active" [routerLink]="setUrl(URLConstants.FEES_DISCOUNT_TYPE)" (click)="setType(1)" data-toggle="tab">Fees Discount</a>
                        </li>                                                                
                        <!-- <li class="nav-item">                                            
                            <a 
                            class="nav-link"  routerLinkActive="active" [routerLink]="setUrl(URLConstants.REFUND_TYPE_TYPE)" (click)="setType(2)" data-toggle="tab">Fees Refund</a>
                        </li>
                        <li class="nav-item">                                            
                            <a 
                            class="nav-link"  routerLinkActive="active" [routerLink]="setUrl(URLConstants.FEE_REFUND_TYPE)" (click)="setType(4)" data-toggle="tab">Refund Type</a>
                        </li>                         -->
                    </ul>
                    
                    <div *ngIf="student_discount">
                        <app-student-discount (clicked)="updatePage($event)"></app-student-discount>
                    </div> 
                    
                    <div *ngIf="fee_discount">
                            <app-fees-discount (clicked)="updatePage($event)"></app-fees-discount>
                    </div>
                    <div *ngIf="fees_refund">
                        <app-fees-refund></app-fees-refund>
                    </div>
                    <div *ngIf="refund_type">
                        <app-refund-type></app-refund-type>
                    </div>                    
                   
                </div>
            </div>
        </div>
    </div>
</section>