<section class="leave_form">
    <div class="page_inner">
        <div class="m-container">
            <div class="d-flex justify-content-between align-items-center my-3">
				<h3 class="sub_title mb-0">Role List</h3>
				<div class="btn_right">
					<a *ngIf="CommonService.hasPermission('hra_role_list', 'has_create')" class="global_btn btn add-btn"  href="#."  [routerLink]="setUrl(URLConstants.ADD_ROLE)" > Add New Role</a>
				</div>
			</div>
            <div class="card">               
                <div class="card_body">
                    <div class="row">
                        <div class="col-lg-12">
							<div class="datatable-action-design">
								<div class="action_btn_in_out" (click)="isOpenByClick = !isOpenByClick">
								  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="isOpenByClick" ngbTooltip="Close">
									<path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/>
								  </svg>
								  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="!isOpenByClick" ngbTooltip="Open">
									<path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/>
								  </svg>
								</div>
								<div class="table-responsive">
									<table datatable [dtOptions]="dtOptions" class="table table-hover table-nowrap table-bordered " [ngClass]="{'table-action-col-active' : isOpenByClick}">
										<thead class="thead-light">
											<tr>
												<th>Name</th>
												<th>Role</th>
												<th class="action-btn-sticky">Action</th>
											</tr>
										</thead>
										<tbody *ngIf="tbody?.length != 0">
											<tr *ngFor="let item of tbody ;let i = index;" >				
												<td class="name_hover">{{item.name}}</td>            
												<td>{{item.role}}</td>           
												<td class="action-btn-sticky text-center">   
													<div class="btn-group" role="group">
														<a *ngIf="item?.is_default == 0 && CommonService.hasPermission('hra_role_list', 'has_edit')" class="lt-btn-icon action-edit" container="body" ngbTooltip="Edit Roll" [routerLink]="[setUrl(URLConstants.EDIT_ROLE),item.id]" href='#'></a>
														<a *ngIf="CommonService.hasPermission('hra_role_list', 'has_edit')" class="lt-btn-icon action-assign" container="body" ngbTooltip="Assign Leave Roll" [routerLink]="[setUrl(URLConstants.ASSIGN_LEAVE_ROLE),item.id]" href='#'></a>
														<a *ngIf="CommonService.hasPermission('hra_role_list', 'has_edit')" class="lt-btn-icon action-approve" container="body" ngbTooltip="Leave Approve" [routerLink]="[setUrl(URLConstants.SET_LEAVE_APPROVER),item.id]" href='#'></a>
														<a *ngIf="CommonService.hasPermission('hra_role_list', 'has_edit')" class="lt-btn-icon action-payroll" container="body" ngbTooltip="Assign Payroll" [routerLink]="[setUrl(URLConstants.ASSIGN_PAYROLL_GROUP),item.id]" href='#'></a>
														<button *ngIf="item?.is_default == 0 && CommonService.hasPermission('hra_role_list', 'has_delete')" class="lt-btn-icon action-delete" container="body" ngbTooltip="Delete" (click)="delete(item.id)"></button>
													</div>												
												</td>                                             
											</tr>
										</tbody>
										<tbody *ngIf="tbody?.length == 0">
											<tr>
											<td colspan="3" class="text-center no-data-available">No data</td>
											</tr>
										</tbody>									
									</table>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>