@import'../../../../assets/css/variable.scss';
.disable{
    pointer-events:none;
}
::ng-deep body{
    app-purchase-order-form{
        .heading{
            font-size: 18px;
            p{
                span{
                font-weight: 600;
                }
                .detail{
                font-weight: 300;
        
                }
            }
        }
    table{
        border: 1px solid;
        border-color: #dde2ef;
        thead{
            background-color: $primary;
            tr{
                th{
                    color: $white !important;
                    padding: 0.75rem !important;
                }
            }
        }
    }
}
}