::ng-deep {
    @import "../../../../../assets/scss/variables";
    @import"../../../../../assets/css/variable.scss";
    @import'../../../../../assets/css/variable.scss';
    .student-absent-section {
        height: 100%;

        .today-leave-header {
            padding: 8px 8px;
            // background-color: #FFE7EF;
            display: flex;
            align-items: center;
            justify-content: space-between;
            white-space: nowrap;
            position: relative;
            z-index: 0;
            &::before{
                content: "";
                background-color: $primary;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 6px 6px 0 0;
                opacity: 0.17;
                z-index: -1;
            }

            h3 {
                font-size: 17px;
                line-height: 16px;
                font-weight: 600;
                color: #000;
                margin: 0;
                white-space: nowrap;
                padding-right: 30px;
                text-transform: capitalize;

                span {
                    width: 16px;
                    height: 16px;
                    border-radius: 50px;
                    background-color: #FFD7E4;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 8px;
                }
                img{
                    margin-right: 6px;
                  }
            }
            .view-all-link {
                font-size: 12px;
                line-height: 14px;
                font-weight: 600;
                color: #000;
                text-decoration: none;
                transition: 0.3s;
                display: inline-block;
            }
            .md-drppicker{
                left: unset !important;
                right: 0 !important;
                width: 100% !important;
                max-width: 100%;
                overflow: auto;
                min-width: 615px !important;
                display: flex;
                white-space: nowrap;
                &::-webkit-scrollbar{
                    width: 8px;
                    height: 8px;
                }
            }
            .date-icons{
                .form-control{
                    background-image: url(../../../../../assets/images/date-picker-icon.svg);
                    background-position: 95%;
                    background-repeat: no-repeat;
                    padding-right: 24px !important;
                }
            }

        }

        .exam-mark-form{
            width: 100%;
            .row{
                .form_group{
                    padding: 0 4px;
                    input{
                        font-size: 11px;
                        line-height: 16px;
                        padding: 3px;
                        color: #000;
                    }
                }
            }
            .ng-select.ng-select-single{
                .ng-select-container{
                    height: 24px;
                    .ng-value-container{
                        padding: 0;
                        padding-left: 6px;
                        .ng-input{
                            padding: 0 10px;
                            position: unset;
                            font-size: 12px;
                        }
                        .ng-value, .ng-placeholder{
                            font-size: 12px;
                        }
                        .ng-input{
                            display: none;
                        }
                    }
                }
                .ng-dropdown-panel{
                    width: 300px;
                    .ng-dropdown-panel-items{
                        &::-webkit-scrollbar{
                            width: 4px;
                        }
                    }
                }
                
            }
            .multiselect-dropdown{
                .dropdown-btn{
                    min-height: 22px !important;
                    line-height: 22px !important;
                    padding-left: 6px !important;
                    background-color: #fff !important;
                    display: flex;
                    align-items: center;
                    span{
                        font-size: 12px;
                    }
                    .selected-item-container{
                        .selected-item{
                            margin-inline-end: 4px !important;
                            margin-block-start: 4px !important;
                            span{
                                font-size: 10px;
                                line-height: 14px;
                                display: block;
                                width: auto;
                                max-width: 60px;
                            }
                            a{
                                font-size: 11px !important;
                            }
                        }
                    }
                }
                .dropdown-list{
                    width: 250px;
                    ul{
                        &::-webkit-scrollbar{
                            width: 4px;
                        }
                    }
                }
               
            }
        }

        .birthday-wrapper {
            height: 88%;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    padding: 6px 8px;
                    border-bottom: 1px solid #dde2ef;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:last-child {
                        border-bottom: 0;
                    }

                    .birthday-lt-content {
                        display: flex;
                        align-items: center;
                        max-width: 250px;

                        .leave-rt-content {
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            min-width: 100px;

                            h4 {
                                color: #000;
                            }

                            img {
                                margin-right: 0;
                                margin-bottom: 0px;
                                margin-right: 5px;
                            }
                        }

                        .approve-chip {
                            text-align: center;
                            padding: 2px 8px;
                            border: 1px solid #50bc50;
                            background-color: #50bc50;
                            border-radius: 100px;
                            min-width: 70px;

                            span {
                                font-size: 10px;
                                line-height: 14px;
                                font-weight: 500;
                                color: #fff;
                                display: block;
                            }
                        }

                        .decline-chip {
                            text-align: center;
                            padding: 2px 8px;
                            border: 1px solid #f65656;
                            background-color: #f65656;
                            border-radius: 100px;
                            min-width: 70px;

                            span {
                                font-size: 10px;
                                line-height: 14px;
                                font-weight: 500;
                                color: #fff;
                                display: block;
                            }
                        }

                        .pending-chip {
                            text-align: center;
                            padding: 2px 8px;
                            border: 1px solid #E5B800;
                            background-color: #E5B800;
                            border-radius: 100px;
                            min-width: 70px;

                            span {
                                font-size: 10px;
                                line-height: 14px;
                                font-weight: 500;
                                color: #fff;
                                display: block;
                            }
                        }

                        img {
                            max-width: 26px;
                            border-radius: 100px;
                            margin-right: 12px;
                        }

                        h4 {
                            font-size: 15px;
                            line-height: 22px;
                            font-weight: 600;
                            color: #000;
                            margin: 0;
                            text-transform: capitalize;

                            span {
                                display: block;
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 500;
                                color: #939393;
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 992px) {
        .student-absent-section .today-leave-header h3 {
            font-size: 12px;
            line-height: 16px;
        }

        .student-absent-section .birthday-wrapper {
            max-height: 200px;
        }

        .student-absent-section .today-leave-header {
            padding: 8px 10px;
        }
    }

}