.total-student-strength-content {
    .loader-content {
        display: flex;
        justify-content: center;
        align-items: center;
    
        .spinner-border-sm {
                width: 4rem;
                height: 4rem;
            }
    }
}