.inquiry-fees-model {
    .inquiry-fees-field{
        display: flex;
    }

    .form_label {
        color: #000;
        margin-right: 10px;
        width: auto;
        white-space: nowrap;
        min-width: 160px;
    }
}