.document_type {

    .default-grade {
            color: #fff;
            background-color: #00adffed;
            padding: 1px 10px !important;
            margin-left: 10px;
            border-radius: 15px;
            font-size: 13px;
            font-weight: 500;
        }
}