<div class="top-sudent-section">
    <div class="upcoming-header">
        <a href="#"><h3> <img src="./assets/images/top-ten-icon.svg" /> Top 10 Students List  </h3> </a>
        <div [formGroup]="exammarklist" class="exam-mark-form">
            <div class="row justify-content-end pe-2">
                <div class="col-md-3 form_group m-0">
                    <app-single-select controlName="name"  placeholder="Select exam type"></app-single-select>
                  </div>
                  <div class="col-md-3 form_group m-0">
                    <app-single-select controlName="name"  placeholder="Select exam type"></app-single-select>
                  </div>
                  <div class="col-md-3 form_group m-0">
                    <app-single-select controlName="name"  placeholder="Select exam type"></app-single-select>
                  </div>
            </div>
        </div>
    </div>
    <div class="upcoming-table basic_table">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-nowrap table w-100 d-table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Student Name and Image</th>
                        <th>Class</th>
                        <th>Batch</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    
                     
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sakshi Singh </td>
                        <td>STD - 9</td>
                        <td>7-A</td>
                        <td>80%</td>
                    </tr>

                    
                    
                    
                </tbody>
            </table>
        </div>
    </div>
</div>