<div class="timetable-section">
    <div class="timetable-header">
        <h3>Timetable</h3>
    </div>
    <div class="week-data-table">
        <mat-tab-group class="week-data-wrapper">
            <mat-tab label="Week"> 
                <div class="time-table">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wen</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>    
            </mat-tab>
            <mat-tab label="Day"> 
                <div class="time-table">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wen</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                </tr>
                                <tr>
                                    <td>8:00 am</td>
                                    <td><p class="red-box">Phy <span>(Sanvi P.) </span></p></td>
                                    <td><p>Math <span>(Sanvi P.) </span></p></td>
                                    <td><p class="pink-box">GK <span>(Sanvi P.) </span></p></td>
                                    <td><p class="green-box">Chem <span>(Sanvi P.) </span></p></td>
                                    <td><p class="yellow-box">English <span>(Sanvi P.) </span></p></td>
                                    <td><p class="blue-box">Bio <span>(Sanvi P.) </span></p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>     
            </mat-tab>
          </mat-tab-group>
    </div>
</div>