<section class="">
    <div class="page_inner">
        <div class="m-container">
            <div class="d-flex align-items-center my-3 message-heading-list">
                <h3 class="sub_title mb-0">Field Hide/Show Setting</h3>

            </div>
            <div class="card message-list-card p-0">
                <div class="col-lg-12 border-bottom mt-2 ms-2 d-flex nav nav-tabs">
                    <div class="radio-inline ml-1 nav-item">
                        <label class="m-radio required nav-link" [class.active]="type === 1 ? true : false"
                            for="inquiry-field">
                            <input type="radio" (click)="type = 1" id="inquiry-field" class="mr-1" checked
                                hidden />Inquiry Field<span></span>
                        </label>
                    </div>

                    <div class="radio-inline ml-1 nav-item">
                        <label class="m-radio required nav-link" [class.active]="type === 2 ? true : false"
                            for="student-field">
                            <input type="radio" (click)="type = 2" id="student-field" class="mr-1" hidden />Student
                            field<span></span>
                        </label>
                    </div>

                    <div class="radio-inline ml-1 nav-item">
                        <label class="m-radio required nav-link" [class.active]="type === 3 ? true : false"
                            for="employee-field">
                            <input type="radio" (click)="type = 3" id="employee-field" class="mr-1" hidden />Employee
                            Field <span></span>
                        </label>
                    </div>
                </div>

                
                <div class="card-body border-0 py-0" *ngIf="type === 1">
                    <div class="m-3">
                        <app-inquiry-field-setting [isSettingLoad]="true"></app-inquiry-field-setting>
                    </div>
                </div>
                <div class="card-body border-0 py-0" *ngIf="type === 2">
                    <div class="m-3">
                        <app-student-field-setting [isSettingLoad]="true"></app-student-field-setting>
                    </div>
                </div>
                <div class="card-body border-0 py-0" *ngIf="type === 3">
                    <div class="m-3">Comming Soon Employee Field setting...</div>
                </div>
            </div>

        </div>
    </div>
</section>